[2015-09-25 21:56] muratg opened #2 "Implement dnx-watch"
Carried over from here: https://github.com/aspnet/dnx/issues/2700

[2015-09-27 21:05] victorhurdugaci opened #3 "Remove the copied runtime code"
Once the runtime publishes a package that contains the project reader, we need to remove the copied code from the runtime

[2015-09-27 21:06] victorhurdugaci opened #4 "Evaluate globbing patterns on watch"
Today we ignore the globbing patterns in project.json

The watcher should include/exclude files based on them

[2015-09-28 04:15] davidfowl opened #5 "Broken on mono"
After a file change:

![image](https://cloud.githubusercontent.com/assets/95136/10127806/e04d0f60-655c-11e5-90a0-d2028c12fb46.png)

/cc @victorhurdugaci

[2015-09-28 04:19] davidfowl commented on #5
Same error on coreclr linux:

![image](https://cloud.githubusercontent.com/assets/95136/10127837/6c2b8f8e-655d-11e5-97c1-adf0d54f0856.png)

[2015-09-28 05:55] davidfowl opened #7 "Add support for launching design time host"
This would be a great feature as it would speed up compilation dramatically. The idea would be to spin up DTH on the project then pass the port to dnx when launching the application.

[2015-09-28 07:01] #5 closed

[2015-09-28 07:04] davidfowl opened #8 "Changing dependencies breaks the watcher flow"
Not really a watcher bug but a DNX one:

![image](https://cloud.githubusercontent.com/assets/95136/10129542/2696a15e-6574-11e5-9924-d8f1919831dc.png)

We made a decision to not throw the process if dependencies are out of date. This currently breaks the flow because the files have to change again to trigger a restart.

[2015-09-28 07:22] davidfowl opened #9 "Restore packages when project.json changes"
Should we make the watcher do more than just watch? Maybe it could also restore packages when things change (using similar logic to what VS has today). This would play well with the launching of DTH.

[2015-09-28 15:31] victorhurdugaci opened #10 "[Announcement] dnx-watch"
Discussions for https://github.com/aspnet/Announcements/issues/74

[2015-09-28 15:34] #2 closed

[2015-09-28 16:00] runxc1 commented on #10
Will this work with beta7 or do we need to wait till beta8 comes out?

[2015-09-28 16:01] dmccaffery commented on #10
THANK... YOU! :+1: :+1:

[2015-09-28 16:01] victorhurdugaci commented on #10
@runxc1 you need beta8

[2015-09-28 17:40] rhwy commented on #10
oh oh cool! (then my own dnx-watcher working on mono/mac will be now useless  and I won't have to maintain it ;-)

[2015-09-28 17:49] dmccaffery commented on #10
haha. I wrote one too; theres one build into the https://github.com/pulsebridge/condo build system (dnx run).

[2015-09-28 17:53] rhwy commented on #10
mine was mainly a wrapper around https://github.com/rhwy/fswatcher from acken that allows me to watch files on macosx (because the -watch from dnx, well..., never worked), but it only worked on dnx451 and not core, btw I didn't knew condo, will have a look, seems great

[2015-09-28 18:22] dmccaffery commented on #10
It's new; not well documented...yet; I'm working on it, but I don't want to hijack this thread; if you have any questions, feel free to ping me here on github or Twitter.

[2015-09-28 19:25] miguellira opened #11 "Unable to locate/install DNX Watcher"
With or without the `-- fallbacksource` argument I am still unable to install.

[code]

[2015-09-28 19:32] woutertenbosch commented on #11
Are you using 1.0.0-beta8?

[2015-09-28 19:52] miguellira commented on #11
@woutertenbosch Yes. The error message I posted shows the current version namely `1.0.0-beta8-15724`. Here's my `dnvm list`

[code]

[2015-09-28 19:56] woutertenbosch commented on #11
@miguellira Oh sorry, I didn't read it properly. In that case, I have no clue.

[2015-09-29 02:16] miguellira commented on #11
When at first you don't succeed... try, try again. Looks like someone hit the "fix" button. All good now, thanks!

[2015-09-29 02:16] #11 closed

[2015-09-29 15:49] miguellira opened #13 "FileSystemWatcher issues when running dnx-watch on Mono"
Running `dnx-watch` against a simple web application on Mono works fine.

However, given the known limitations of `FileSystemWatcher` in Mono (https://github.com/aspnet/Home/issues/508, https://github.com/aspnet/Home/issues/554) the only way I've managed to run a *reasonably* sized web application is to set `MONO_MANAGED_WATCHER="disabled"`

Having this environment variable set appears to disables

[2015-10-02 17:51] muratg commented on #13
@victorhurdugaci is this known issue in Mono? If so, can we track it in the External repo, and close this one?

cc @moozzyk

[2015-10-02 17:58] muratg commented on #8
So file it in DNX.

[2015-10-02 17:58] muratg commented on #9
Neat idea.  How about running the scripts when those change?

[2015-10-02 18:05] victorhurdugaci commented on #13
It is a known mono issue: https://bugzilla.xamarin.com/show_bug.cgi?id=28693

@miguellira how many files does your app have?

[2015-10-02 18:13] miguellira commented on #13
@victorhurdugaci Not many. I haven't tried to figure out the limit but as you know npm modules tend to have huge directory trees.

For now, I simply delete the `node_modules`, `bower_components`, and tidy up my target `lib` folder via a gulp task post restore and I can run `dnx-watch`.

[2015-10-05 16:11] muratg commented on #13
@miguellira I'm glad you're able to work around it although it's not an ideal solution. Feel free to push the Mono bug to resolution :)

@victorhurdugaci Cool, please file an External to track the Mono bug and close this one.

[2015-10-05 17:37] muratg commented on #8
Putting into 1.0.0 backlog in case you prefer to work around it in the watcher (instead of changing DNX behavior)

[2015-10-05 23:57] moozzyk opened #14 "Hard/impossible to show help"
I think `dnx-watch` without arguments should show help. At the moment it just starts watching the project in the folder (if the `project.json` happens to be there) but since there is no command for the application it just shows the generic dnx help

`dnx-watch --help` does not show help. The way I eventually was able to get help was by invoking `dnx-watch --help --dnx-args --verify`

[2015-10-06 00:00] moozzyk opened #15 "dnx-watch should exit if there is nothing to watch"
if `dnx-watch` is started in the folder where there is no `project.json` file it will wait for the `project.json` to be created. I think it is more likely that `dnx-watch` was started in a wrong directory instead that it was started because I am planning to create a project in the folder the `dnx-watch` was started in. I think it would be just better to exit and write an error message (and possibl

[2015-10-06 00:02] muratg commented on #15
:+1:

[2015-10-06 00:11] moozzyk opened #16 "Remove unneeded code"
Looks like we [assign](https://github.com/aspnet/dnx-watch/blob/dev/src/Microsoft.Dnx.Watcher/Program.cs#L75-L79) the `ShowHelp` action to `app.OnExecute` but then a few lines below we [overwrite](https://github.com/aspnet/dnx-watch/blob/dev/src/Microsoft.Dnx.Watcher/Program.cs#L98) it with the application logic. The first assignment is always overwritten so it's not needed.
As a sidenote - [retur

[2015-10-06 03:57] davidfowl commented on #15
I don't know if it agree with that. I can start without a project and add it and things wil just work. I can see the error case but I don't think it needs to quit immediately

[2015-10-06 05:24] moozzyk commented on #15
Yes you can. The question is how often you start watching before you create a new project vs. how often you start watching in a wrong folder.

[2015-10-06 06:22] muratg commented on #15
Perhaps it should just print out a warning saying "There's no project.json in the current folder. Start your project by creating one" or something. This way, you'd know if you started it in the wrong place, or you can go ahead and start creating your project then.

[2015-10-06 06:48] davidfowl commented on #15
yes

[2015-10-06 17:43] moozzyk opened #17 "`--workingDir` should be `--working-dir`"
dnx-watch has the [`--workingDir`](https://github.com/aspnet/dnx-watch/blob/ac6e441f15e75b74faea1209b3d9e4a03116c8dc/src/Microsoft.Dnx.Watcher/Program.cs#L87) parameter. In dnx we use the convention where words are lower case and dash separated.

Also consider adding `-p` shortcut to `--project` (similar do dnx)

[2015-10-06 18:50] moozzyk opened #18 "The way dnx-watch handles parameters is confusing"
With `dnx-watch` there are really three separate parts that need parameters - `dnx-watch`, `dnx` and the app itself. The rules about what parameters are used where (especially between `dnx-watch` and `dnx`) is confusing. This mostly especially shows when running `dnx-watch` for a project that is not in the current directory. e.g. I can run my app like this:

`dnx --project .\src\HelloDNX\project.j

[2015-10-06 21:58] moozzyk opened #19 "files included in the project with "compile" are not watched"
If I add files to the project.json using `compile` (e.g. `"compile": [ "../../../DnxLib/src/DnxLib/Class.cs" ],`) they are not being watched - i.e. the target process is not restarted if the included file changes.

Same applies to files specified in `resource` (e.g. "resource": [ "project.json_" ],)

[2015-10-06 22:06] moozzyk opened #20 "`dnx-watch` crashes for a certain class of errors in the target project.json file"
`dnx-watch` is able to survive if the target project.json file is not well formed however it crashes when the validation of the contents fails. For instance adding `"resource": [ "c:/" ],` to the project.json file makes dnx-watch crash (or prevent from starting) with the following exception:

[code]

[2015-10-06 22:46] moozzyk opened #21 "`dnx-watch` hangs/is not notified about file changes on CoreClr on Mac OS"
It will run the target project once but changes to file aren't ever detected.

Note that this works fine on Linux.

[2015-10-06 22:58] moozzyk opened #22 "dnx-watch hangs after Ctrl+C on Mono Mac OS"
Ctrl+C does not terminate dnx-watch on Mono or Mac OS. Changes to files no longer trigger restarting the target process. The process has to be killed.

(Note: this seems to work fine on Linux)

[2015-10-06 23:35] victorhurdugaci commented on #15
Related to this there's another case: you delete the project.json file. I think the watcher should have the same behavior when there's no project.json or when you delete. It should just stay there and watch

[2015-10-06 23:36] victorhurdugaci commented on #21
Is this a known issue with the file watcher on CoreCLR/Darwin?

[2015-10-06 23:40] moozzyk commented on #15
@victorhurdugaci - deleting and recreating project.json file actually works. I thought it did not work but I tried it on CoreClr MacOs where dnx-watch does not seem to work at all.

[2015-10-07 00:07] moozzyk opened #23 "dnx-watch is not notified when the extension of the file changes to an ignored extension"
If you rename a file that is being watched to have an extension that is ignored (e.g. `Program.cs` :arrow_right: `Program.vb`) dnx-watch does not restart the target process. (Changing the extension from an ignored one to watched does trigger the restart)

[2015-10-14 06:32] muratg commented on #14
@victorhurdugaci thoughts?

[2015-10-14 06:34] muratg commented on #21
@victorhurdugaci let's investigate on our end. if there's a behavior difference between linux/windows and os x, we should file bugs on appropriate repo

[2015-10-14 06:35] glennc commented on #21
When running inside a docker container and detecting changes on a mounted volume I needed to have Mono use the managed file watcher otherwise it wouldn't detect changes.

[2015-10-14 06:38] davidfowl commented on #21
This is talking about CoreCLR not mono.

[2015-10-14 06:45] glennc commented on #21
Didn't read the title.

[2015-10-14 06:58] JamesNK opened #24 "FileSystemWatcher error handling"
Observation from nosing around your code:

I've used FileSystemWatcher in the past and had great trouble with it erroring, going into a broken state and it no longer reporting changes. An example of this happening is watching a network share path, the network connection gets interrupted, and FileSystemWatcher errors and then permanently breaks.

The way I fixed this was using its Error event. When

[2015-10-14 07:02] JamesNK commented on #24
Example: http://stackoverflow.com/questions/6184115/filesystemwatcher-stops-catching-events

[2015-10-16 19:46] shanselman opened #25 "Unable to install?"
What's the debugging process when something this simple doesn't work? I see another issue that had the same thing but then theirs just started working later.

    C:\Users\Scott\Desktop>dnvm use default
    Adding C:\Users\Scott\.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta8\bin to process PATH

    C:\Users\Scott\Desktop>dnu commands install Microsoft.Dnx.Watcher
    Microsoft .NET Development Utility

[2015-10-16 21:15] victorhurdugaci commented on #25
Turns out that the `nuget.org` package source was disabled.

[2015-10-16 21:15] #25 closed

[2015-10-17 21:35] mikehaas763 commented on #21
I'm having the same problem. Using CoreCLR and dnx beta 8. When I run `dnx-watch web` in my default yeoman scaffolded web project it will run the server and start the process and I can successfully visit the website in my browser. When I make a change to a view it reflects it as I would expect because they're being compiled on the fly anyway (I'm assuming). However, when I make a simple change to

[2015-10-20 16:19] RaveNoX opened #26 "Ability use as command in project.json"
Hello!
It will be great to add ability to declare watcher as command for Asp.Net project, something like that:

[code]

[2015-10-20 16:36] victorhurdugaci commented on #26
Interesting suggestion but it would not work very well with the watcher story because we want the watcher to be able to detect and watch invalid project.json files. If the project.json file that contains the watch command is invalid, the watcher wouldn't even start.

[2015-10-23 13:53] poke commented on #25
I’m having the same issue and no idea what to do. Where would the NuGet package source be configured? There’s no NuGet.Config in `~/.dnx`.

[2015-10-23 14:42] BrennanConroy commented on #25
~/.config/NuGet I think

[2015-10-23 16:13] doggy8088 commented on #25
`%appdata%\NuGet\NuGet.Config` I think.

[2015-10-23 18:09] Codenator81 opened #27 "How I can find out user installed dnx-watcher?"
@dmccaffery
Referenced issue tugberkugurlu/gulp-dnx#26

[2015-10-23 18:30] muratg commented on #27
We currently do not have this feature implemented. Tracking bug: https://github.com/aspnet/dnx/issues/2870

You can do a check this manually by testing the existence of the .cmd (or .sh) file in `%userprofile%\.dnx\bin\` (or `~/.dnx/bin on OS X/Linux`).  However, this could be brittle, as in if we end up changing the folder structure or location, this check would be incorrect.

[2015-10-23 18:35] luisrudge commented on #27
@muratg is there a way to list all commands installed?

[2015-10-23 18:36] luisrudge commented on #27
Yeah.. Listing dnu commands is the way to go. any eta for that?

[2015-10-23 20:48] victorhurdugaci commented on #27
As a temporary workaround you could use `where dnx-watch` (win) or `whereis dnx-watch` (*nix).

[2015-10-23 21:07] dmccaffery commented on #27
How did I get referenced by this? Was I drinking too much or something? lolol

[2015-10-24 16:00] Codenator81 commented on #27
@dmccaffery  That was me )))

[2015-10-31 10:41] borgdylan opened #30 "Is dnx-watch ok to use on Linux?"
I tried to use dnx-watch but it blew up saying the directory was not found? Do I have to specify the directory to be watched and if yes how? dnx-watch does not have a help output that I can consult.

[2015-11-04 03:36] kamranayub commented on #10
Is this planned to just roll into `dnx --watch`? I was just bitten by that, new user.

[2015-11-04 05:12] victorhurdugaci commented on #30
`dnx-watch --project C:\myproject --dnx-args web` for example to watch the project in C:\myproject and pass argument `web` to dnx

[2015-11-04 05:13] victorhurdugaci commented on #10
`dnx --watch` is going awai. `dnx-watch` is the replacement

[2015-11-04 05:14] victorhurdugaci commented on #27
Closing this because I assume it is solved. Summary of the resolution: before we have `dnu commands list`, the way to check for `dnx-watch` is where/whereis/type

[2015-11-04 05:14] #27 closed

[2015-11-04 05:16] victorhurdugaci commented on #23
Known issue. It has the same limitation as `dnx --watch`

[2015-11-04 07:05] borgdylan commented on #30
Thanks for clarifying. The examples on the web show a different set of arguments which did not work.

[2015-11-04 07:08] victorhurdugaci commented on #30
Can you point me to those examples, please?

On Tue, Nov 3, 2015 at 11:05 PM -0800, "Dylan Borg" <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for clarifying. The examples on the web show a different set of arguments which did not work.

-
Reply to this email directly or view it on GitHub<https://na01.safelinks.protection.outlook.com/?url=https%3a%2f%2fgithub.com%2fasp

[2015-11-04 08:23] borgdylan commented on #30
These are just three of them:

http://ardalis.com/get-started-with-dnx-watch
http://www.codeproject.com/Articles/1045614/dnx-watch-A-no-compile-developer-experience
http://nojaf.com/2015/10/25/test-driven-development-with-dnx-watch-and-xunit/

[2015-11-10 22:03] Peluko commented on #30
Did you get it working on Linux?

I've been trying on Ubuntu with no luck. First, after install (`dnu commands install Microsoft.Dnx.Watcher`) it doesn't get into PATH. Second, I've found a `dnx-watch` bash script on `~/.dnx/packages/Microsoft.Dnx.Watcher/1.0.0-beta8/app/`, but when I run it on my project I get the message `Error: Unable to load application or execute command 'dnx-watch'. Availabl

[2015-11-11 07:19] Peluko commented on #30
Ok, following instructions from http://ardalis.com/get-started-with-dnx-watch I've reinstalled dnx-watch, but this time requesting a specific version: `dnu commands install Microsoft.Dnx.Watcher 1.0.0-beta8`

Now it works as expected.

[2015-11-11 21:17] muratg commented on #30
Looks like it's working fine though it would be nice to get the community blogs etc updated with the correct params.  Closing this one.

[2015-11-11 21:17] #30 closed

[2015-11-13 13:39] Antaris opened #32 "Notification on watch"
Is it possible to integrate a platform-specific notification for when the app is restarted with watch? Ala Grunt/Gulp-notify?

[2015-11-13 17:59] DarranShepherd commented on #25
Just experienced this myself. For anyone else stumbling across this, it turns out `dnu feeds list` shows configured feeds, whether they're disabled (mine were) and the NuGet config files in use to go and re-enable them.

Why my AppData nugget.config had disabled nuget.org, I do not know, however.

[2015-11-13 18:45] victorhurdugaci commented on #25
That's a known issue and the VS team is looking into it. Sometimes the nuget.org source gets disabled.

[2015-11-16 22:01] victorhurdugaci commented on #32
Currently that's not possible but we're considering it for a future release.

[2015-11-17 02:19] jasoncavett commented on #32
This would be great to have. Then it can easily be integrated into other processes and pipelines (e.g. minification, SASS complication, browser-sync, etc).

[2015-11-20 22:51] victorhurdugaci opened #34 "dnx-watch -> dotnet-watch"
- Renamed dnx-watch to dotnet-watch
- Make the watcher capable to running dotnet

Things to consider:

- The new project reader
- Linux/Mac still works
- What's the global commands install story?

[2015-11-24 16:47] victorhurdugaci commented on #14
Will fix this as part of the rewrite. It's not a critical bug but the user experience sucks.

[2015-11-28 19:00] rhires opened #36 "dnx-watch doesn't wait for web, but does wait for help"
I thought this was a bit comical when I came across it. This does not cause dnx-watch to show that it will watch:

    dnx-watch web
    [DnxWatcher] info: Running dnx with the following arguments: --project /Users/vscode/Projects/TestProject/project.json web
    [DnxWatcher] info: dnx process id: 46588
    info: Microsoft.Data.Entity.Storage.Internal.RelationalCommandBuilderFactory[1]
      Execu

[2015-11-29 11:10] neilyoung opened #37 "dnx-watch web -> 100% CPU load caused by mono-sgen"
I'm seeing 100% CPU load on a MacBook Pro 2014, El Capitan caused by mono-sgen. Fan is rotating like hell, device is heating up.

Any ideas?

[2015-11-29 15:28] neilyoung commented on #37
Sorry, probably unrelated. Closed

[2015-11-29 15:28] #37 closed

[2015-12-01 19:07] muratg commented on #21
@victorhurdugaci Could you ping someone from CoreCLR to look into it?

cc @joshfree

[2015-12-02 17:17] muratg commented on #36
@rhires Yeah I think we should improve the status output for the first case.

The second case seems like a bug. If there's an unknown bug it still seems to attempt to watch.

[2015-12-02 17:18] muratg commented on #36
@victorhurdugaci can you have a look?

[2015-12-03 22:13] victorhurdugaci commented on #36
@rhires, thanks for reporting this! This bug will be solved by the fix to https://github.com/aspnet/dnx-watch/issues/14 so closing this as duplicate

[2015-12-03 22:13] #36 closed

[2015-12-03 22:16] victorhurdugaci commented on #8
`dnx-watch` shouldn't run restore because it has no idea if the change to the `project.json` file require restore or not (e.g changing the author doesn't require restore but a new dependency does).

If you change `project.json` then you have to run `restore` yourself.

[2015-12-03 22:16] #8 closed

[2015-12-03 22:18] victorhurdugaci commented on #9
Duplicate of https://github.com/aspnet/dnx-watch/issues/8

Same resolution: the watcher shouldn't run restore by default

[2015-12-03 22:18] #9 closed

[2015-12-04 20:49] nathanielcook commented on #13
In my case it was the `.git` folder that was causing the problem. I moved my code into a `src` folder and ran `dnx-watch` there instead of the main root, and that works fine (since src doesn't include the `.git` folder).

[2015-12-04 22:42] victorhurdugaci commented on #13
@nathanielcook not sure how that would cause an issue. Can you give more details about the folder structure that you have before it started working and what command were you running?

[2015-12-04 22:46] nathanielcook commented on #13
Before
[code]
After
[code]

Before I was running dnx-watch in `projectroot`. Now I am running dnx-watch in `projectroot/src`. Make sense?

[2015-12-04 22:51] victorhurdugaci commented on #13
ohhh... yes, that could be a problem on Mono because of the limit that @miguellira mentioned. The `.git` folder could have lots of files in it.

[2015-12-04 22:51] victorhurdugaci commented on #13
Btw, can you try running on CoreCLR?

[2015-12-04 22:53] nathanielcook commented on #13
I'm not sure what that means.

[2015-12-04 22:55] victorhurdugaci commented on #13
`dnx-watch` runs on the same CLR as your project. On Linux we have Mono and CoreCLR. If your project supports CoreCLR (aka it has the `dnxcore50` target) you can try running on it. You shouldn't hit the file limit.

Instructions on how to install CoreCLR on Linux: https://docs.asp.net/en/latest/getting-started/installing-on-linux.html

Then `dnvm use -r CoreCLR`

And then the watcher will use the

[2015-12-04 22:56] miguellira commented on #13
@nathanielcook Yeah, you should always consider initializing git on your project root. BTW, as soon as you exceed 200 files/folders in the folder you run `dnx-watch web` it will barf.

It all boils down to this line in Mono:
https://github.com/mono/mono/blob/b7a308f660de8174b64697a422abfc7315d07b8c/mcs/class/System/System.IO/KeventWatcher.cs#L444

It seems as though 200 is the magic #:
https://git

[2015-12-04 23:14] miguellira commented on #13
@victorhurdugaci For the record, `dnx-watch` indeed runs without limitation on `dnxcore50`. Unfortunately, if you have a dependency that requires `dnx451` you're stuck with mono and the 200 file limit.

[2015-12-05 10:51] muratg commented on #13
@miguellira Could you add this information to the Mono bug report (if it's not already there)?

I suspect they haven't investigated this bug yet, but since you already seem to have found the root cause, I'm sure they would appreciate the input :)

[2015-12-05 11:59] miguellira commented on #13
@muratg Done. I've updated the bug with my findings.

[2015-12-05 20:52] markentingh opened #38 "Error installing dnx-watch"
Using rc1-final, coreclr x64, i get the error FindPackageById: Microsoft.Extensions.Logging an error occurred while sending the request.

Is dnx-watch not supported by rc1-final yet? I tried installing beta8, but it installs rc1 instead, with an alias of beta8.

[2015-12-05 20:54] markentingh commented on #38
Also, you should know that im using https://nuget.org/api/v2/

[2015-12-07 18:42] muratg commented on #38
What OS are you using?  Also, what was the command line you used to install dnx-watch?

[2015-12-07 18:45] muratg commented on #13
Closing this one as this is a Mono issue and there's no action on our side.

[2015-12-07 18:45] #13 closed

[2015-12-07 18:46] muratg commented on #22
@victorhurdugaci Could you please investigate?

[2015-12-07 18:51] davidfowl commented on #13
DNX watch should only be compiled for dnxcore50 moving forward

[2015-12-07 18:52] markentingh commented on #38
Windows 7 64-bit, &  "dnu commands install Microsoft.Dnx.Watcher"

[2015-12-07 18:56] miguellira commented on #13
@davidfowl Though that would be clear to all dnx-watch new comers those who still depend on dnx4xx and are aware of the limitation lose out.

[2015-12-07 18:57] markentingh commented on #38
Also, it works just fine on my Windows 10 machine. On Windows 7, I made sure dnvm list was using the correct clr (dnvm use 1.0.0-rc1-final -r coreclr -arch x64). Then I executed "dnu commands install Microsoft.Dnx.Watcher".

[2015-12-07 18:59] muratg commented on #18
We need to look at this experience as we start using dotnet CLI instead of dnx. If this is still an issue with the dotnet CLI, we should consider fixing it otherwise close.

[2015-12-07 19:00] davidfowl commented on #13
It doesn't matter what your application depends on. The tool itself can target whatever. It's just restarting a process

[2015-12-07 19:01] muratg commented on #4
Let's consider this as part of the dotnet update.

[2015-12-07 19:07] miguellira commented on #13
@davidfowl I was under the impression that dnx-watch ran using the current active runtime. If my app depends on a dnx451 component requiring mono, would dnx-watch compiled for dnx50core still run?

I'm sorry, I'm sure I'm missing something.

[2015-12-07 19:11] muratg commented on #38
Does it still fail for you?

@victorhurdugaci

[2015-12-07 19:15] victorhurdugaci commented on #38
what feeds do you have in the global  nuget.config file?

[2015-12-07 19:23] markentingh commented on #38
I should probably reinstall Visual Studio on Windows 7, since I have been using ASP.net 5 CoreCLR ever since beta3, and RC1 is out now. I'm sure there are many breaking changes that are preventing me from moving on.

[2015-12-07 19:31] victorhurdugaci commented on #38
You don't need VS to install/run the watcher...

[2015-12-07 19:37] markentingh commented on #38
True... Windows 7 dnvm just acts differently from Windows 10, I've noticed. Some dependencies work fine on Windows 10, but then I have to upgrade all my dependencies when testing the same project on Windows 7, or else it won't work. Also, I've noticed that I can run CoreCLR x64 on Windows 10 just fine, but in order to do a "dnu restore" on Windows 7, I have to use x86, even though I'm using Window

[2015-12-07 19:51] muratg commented on #38
@markentingh Could you share your nuget.config on your Windows 7 machine?  Possibly you don't have nuget.config on the machine.

[2015-12-07 19:52] victorhurdugaci commented on #38
@markentingh also tell us what version of dnvm you're using

[2015-12-08 14:39] AlexChesser opened #40 "DNX-WATCH crashes on Docker machine"
Using a yeoman generator from the latest (rc1) aspnet web application template site.
Specifically using the following docker file:

[code]

Any of the commented-out entry points exit with the error:

[code]
note additionally if I run the command:
[code]
I can execute `dnx-watch` within the shell and see *something* happen. (this only works if the container can start up, so the entrypoint must be `

[2015-12-08 14:44] AlexChesser commented on #40
it appears to be a known issue in ubuntu http://askubuntu.com/a/697757
as the dnx-watch command as located in `/root/.dnx/bin` *does* appear to be a link to another file (I don't have the system in front of me right now, but it is something like `/packages.../DnxWatcher/.../bin`) ... if I try to chagedir to the path listed in the file I receive errors.

It might be as simple as updating the path t

[2015-12-09 02:46] miguellira commented on #13
Since Miguel de Icaza lifted the "arbitrary" 200 file limit as of this [commit](https://github.com/mono/mono/commit/2af882232ce4961fdbe1ba0ae36246456bb1fbfb), this issue should go away.

My mono is delivered via homebrew so I'll wait until that bottle is updated to test.

That said, I'm still curious about @davidfowl suggestion that a dnx50core compiled dnx-watch would still be applicable in a dnx

[2015-12-09 17:52] victorhurdugaci commented on #13
It's just a matter of what exe we start from the watcher. If we launch the one from dnx-clr then the app will run on Desktop CLR and if we launch the one in dnx-coreclr the app will run on CoreCLR.

[2015-12-09 17:59] muratg commented on #13
@victorhurdugaci When we move this to dotnet CLI, it'll only be a CoreCLR based exe. And it's going to just start the app itself (can be CLR or CoreCLR)

[2015-12-09 19:17] victorhurdugaci commented on #22
If this is happening only on Mono then it will not longer be an issue with `dotnet-watch` since it only runs on CoreCLR

[2015-12-09 19:18] victorhurdugaci commented on #26
Commands go away in dotnet so this cannot happen anymore in the new world. Sorry

[2015-12-09 19:18] #26 closed

[2015-12-11 18:51] muratg commented on #24
Let's investigate.

[2015-12-11 18:51] muratg commented on #19
@victorhurdugaci We had a discussion on this but I don't remember the outcome.  Is this something we can make work properly?

[2015-12-11 20:06] victorhurdugaci commented on #38
I am going to assume this was a feed error. If you are still seeing the issue, please reopen.

[2015-12-11 20:06] #38 closed

[2015-12-13 04:15] victorhurdugaci commented on #20
Fixed?

[2015-12-13 04:48] #20 closed

[2015-12-15 18:02] BrennanConroy commented on #16
cbc201ac26114f211dba53788b155717dee5983d

[2015-12-15 18:02] #16 closed

[2015-12-15 19:00] jmelosegui opened #44 "[DnxWatcher] fail: Error(s) reading project file"
I just installed the latest version of dnx-watch _(1.0.0-rc1-final)_.
[code]
after that I run the following command `dnx-watch` and this is what get
[code]
Am I doing something wrong here?

[2015-12-15 19:04] jmelosegui commented on #44
Never mind

[2015-12-15 19:04] #44 closed

[2015-12-17 22:16] jpoehls commented on #19
FWIW this is affecting one of my projects. Specifically the `resource` files not being watched. My scenario is the following:

- `dnx-watch` is monitoring `./web-project/project.json`
- `./web-project/project.json` references another project in the same solution, `./class-library/project.json`.
- `./class-library/project.json` includes Razor views as embedded resources in the `resource` section of

[2015-12-21 18:57] hantleman opened #45 "dnx-watch exit on Mono segfault"
After some days working in docker on linux mvc application throw segfault exception and wait.
Stacktrace:

Native stacktrace:

        mono() [0x4b23dc]
        mono() [0x508a0e]
        mono() [0x428fad]
        /lib/x86_64-linux-gnu/libpthread.so.0(+0xf0a0) [0x7f8a141bc0a0]
        /lib/x86_64-linux-gnu/libc.so.6(cfree+0x19) [0x7f8a13e9c939]
        mono() [0x4e80dd]
        mono() [0x421f22]

[2015-12-23 18:13] muratg commented on #21
@victorhurdugaci Does this work now?

[2015-12-28 20:07] muratg commented on #40
@glennc did you get a chance to look into this yet?

[2015-12-28 20:07] muratg commented on #45
@victorhurdugaci could you investigate?

[2016-01-12 19:03] pakrym opened #47 "Add support for exit on change scenario"
By adding command line switch.
Used for running dotnet-watch under HttpPlatformHandler
Related to https://github.com/aspnet/IISIntegration/issues/34

[2016-01-19 17:34] muratg commented on #47
@pakrym If you're able to take this one in, please do.

[2016-01-19 17:40] victorhurdugaci commented on #47
This should happen after the dotnet conversion

[2016-01-21 19:24] tuespetre commented on #47
Is this going to aid in debugging, or are there other improvements being made in that arena, as far as being able to continuously run the debugger on an application running with `watch`?

[2016-01-21 19:35] victorhurdugaci commented on #47
I assume that you refer to the fact that if you have a debugger attached to the app being watched it will not get reattached. This work item is not going to aid debugging and there's no plan to do any work in that area.

But, you can always pass the "--debug" flag to dnx and the watcher will start dnx waiting for a debugger.

[2016-01-25 17:09] #17 closed

[2016-01-25 23:22] #47 closed

[2016-02-16 11:25] cottsak commented on #22
I can't get this to work on Windows using cmder either. :disappointed:

[2016-02-16 16:54] victorhurdugaci commented on #22
@cottsak what doesn't work?

[2016-02-17 02:55] cottsak commented on #22
@victorhurdugaci CTRL+C doesn't interrupt `dnx-watch` on Windows using cmder.

[2016-02-17 03:05] victorhurdugaci commented on #22
Okay, I'll give it a try tomorrow. If you run the same scenario in a normal console does it work? Also, let me know what version of dnx and dnx-watch you're using.

[2016-02-18 03:56] JakeGinnivan opened #52 "Make it possible to detect when a process is running inside dotnet-watch"
When using approvaltests or similar it will pop up a diff tool when the test does not match the 'gold' template.

Is there a way to know if running inside dnx-watch? If not would you consider adding an environmental variable called `DNX_WATCH=1` (or `DOTNET_WATCH=1` for rc2 so you can know if you are running inside DNX watch?

[2016-02-18 04:13] victorhurdugaci commented on #52
There's no out of the box way to determine if running inside dnx watch, sorry.

One solution would be to check who's the parent process of your process. I haven't tried these solutions, but some people report success with [this method](http://stackoverflow.com/questions/394816/how-to-get-parent-process-in-net-in-managed-way). However, the parent will still be `dnx` so you might have to check the c

[2016-02-18 16:58] #18 closed

[2016-02-18 16:58] #14 closed

[2016-02-18 16:58] #34 closed

[2016-02-19 01:52] jasoncavett commented on #13
@miguellira I just ran into this issue. Thanks for sharing information about the fix. It appears that this made it into homebrew already (and I have `4.2.2.30` release installed), but the issue is still occurring. Am I missing something with regards to this?

[2016-02-19 03:22] miguellira commented on #13
@jasoncavett Hate to respond with a "it works on my machine" but I'm not sure why you're running into this issue. It was fixed with the mono patch I mentioned above and I confirmed it with a custom build of mono at the time.

FWIW, I just updated mono via brew to `4.2.2.30` and re-tested against the latest `yo aspnet` template and did not run into any issues.

[code]

Might be worth re-installing

[2016-02-19 12:37] nathanielcook commented on #13
Check also to see also how many files you are watching. I had to exclude my git folder by just running dnx watch on the src folder, rather than the root of the repo. (Granted this was before the problem was supposedly fixed.) The point is, it depends on the project size and folder structure.

[2016-02-19 13:19] jasoncavett commented on #13
@miguellira Yeah, I figured that might be the answer. I did a complete uninstall of everything and reinstall with no luck. I do have two flags set in my `.bash_profile` that I had disabled - one being `export MONO_MANAGED_WATCHER=disabled` which is what stopped everything from breaking in the first place. When I comment it out, though, I get the error that I am watching too many files still once I

[2016-02-19 13:49] jasoncavett commented on #13
I did just discover something interesting. Looking into the [FileSystemWatcher.cs](https://github.com/mono/mono/blob/master/mcs/class/System/System.IO/FileSystemWatcher.cs) at line 108 there is a reference to the `MONO_MANAGED_WATCHER` environment variable. Seeing that any value (other than `disabled` which is handled lower) causes it to use the `DefaultWatcher`, I just switched my environment var

[2016-02-19 14:04] miguellira commented on #13
@jasoncavett Sorry about that, I should have been clearer. You must keep the `MONO_MANAGED_WATCHER` enviornment variable set to disabled. When I opened this issue it was due to the hard coded 200 limit, however, if you're running against Mono you must have that environment variable set otherwise you'll get the "too many files open" error.

BTW, does your application taking any dependencies requiri

[2016-02-19 14:21] jasoncavett commented on #13
@miguellira Ahhh...okay. I want to enable file watching because I'm looking to have `dnx-watch` restart kestrel as I am coding. Otherwise, it kind of defeats the purpose of having it, no?

Right now, I have at least one known library that still has a dependency on dnx451. I'm hoping to get away from that, but, it would be a fairly big change since it was used heavily and brought over from some leg

[2016-02-19 14:41] miguellira commented on #13
@jasoncavett Again, `dnx-watch` does restart kestrel as you're coding. The console snapshot I posted above https://github.com/aspnet/dnx-watch/issues/13#issuecomment-186029630 was caused by touching the HomeController.cs file.

To be clear dotnet-cli is not out of beta but yes, the idea is that all the dnx/dnu commands will be replaced by a single CLI. dnx-watch will eventually be ported over as w

[2016-02-19 17:31] victorhurdugaci commented on #13
Dnx watch was ported to dotnet :)

[2016-02-21 08:07] JakeGinnivan commented on #52
How can I run dnx-watch from source? I would like to submit a PR to add an environmental variable but unsure how to test it.

[2016-02-21 08:21] victorhurdugaci commented on #52
We're in the process of converting dnx watch to dotnet watch. If we're going to add this environment variable, it will be dotnet watch and we're not going to port it back to dnx watch.

That being said, the current source code in the dev branch is for dotnet watch. If you want to add that environment variable and then test it then you have to:

1. Build the packages
2. Create a new dotnet (!) proj

[2016-02-22 09:14] muratg commented on #14
@victorhurdugaci Could you add the proper labels to this (and the other dnx-watch items) so that they can be tracked in the release notes?  Thanks.

[2016-02-22 17:03] victorhurdugaci commented on #4
This became important because there are some scenarios in which dotnet build drops a cs file in the obj folder and the watcher restarts instantly, even before running the app.

[2016-02-29 05:39] victorhurdugaci commented on #15
This is no longer applicable because the watcher always runs in the context of a project.

[2016-02-29 05:39] #15 closed

[2016-02-29 05:42] victorhurdugaci commented on #45
Dotnet watch is now CoreCLR only. This is no longer applicable

[2016-02-29 05:42] #45 closed

[2016-03-01 09:31] jamesmarnoch opened #55 "dnx-watch doesn't see changes when running in a VirtualBox machine, when the files are shared from the host machine"
I've tried this on both a Ubuntu guest machine with coreclr and Windows Server 2012 guest machine with coreclr.

When the files are shared from the host to the guest machine, dnx-watch doesn't catch any changes.

If I copy the project (HelloMvc from the samples) from the mounted share to somewhere else on the guest machine, dnx-watch does catch changes.

[2016-03-02 23:28] muratg commented on #55
Interesting, looks like a file system issue.  @victorhurdugaci, should this bug be moved to dotnet/corefx?

[2016-03-03 17:18] muratg commented on #52
@JakeGinnivan could you clarify your scenario a little more?

[2016-03-03 17:21] muratg commented on #55
@joshfree Do you know of any file watcher differences in VM scenarios?

[2016-03-03 17:36] joshfree commented on #55
I know that historically the underlying win32 apis for FSW have been unreliable, at least in previous versions of Windows; you definitely could not count on them for anything mission critical.  I'm unaware of any issues specific to the Ubuntu scenario above.

[2016-03-03 21:48] #3 closed

[2016-03-03 21:49] #4 closed

[2016-03-03 21:49] #19 closed

[2016-03-03 21:51] #21 closed

[2016-03-03 21:51] #22 closed

[2016-03-03 23:08] #23 closed

[2016-03-15 06:59] lmxin123 opened #59 "DnxWatcher fail"
This is my cmd log:
E:\OneDrive\work\codes\Mycode\Lmxin.ChongZhi>dnvm use 1.0.0-rc1-update1
Adding C:\Users\Katana\.dnx\runtimes\dnx-clr-win-x86.1.0.0-rc1-update1\bin to process PATH
E:\OneDrive\work\codes\Mycode\Lmxin.ChongZhi>dnx-watch
[DnxWatcher] info: Running dnx with the following arguments: --project E:\OneDrive\work\codes\Mycode\Lmxin.ChongZhi\project.json
[DnxWatcher] info: dnx process id

[2016-03-16 17:17] muratg commented on #59
Does your app run fine without the watcher?

[2016-03-16 18:07] victorhurdugaci commented on #59
What `dnx-watch` version do you use?

[2016-03-17 03:26] lmxin123 commented on #59
@muratg yes,It run fine without the watcher.
@victorhurdugaci my dnx-watch version is 1.0.0-rc1-final.

[2016-03-17 15:16] victorhurdugaci commented on #59
Ah, I just noticed what you're missing. You need to specify the command from `project.json` to run. The commands are in the `commands` section.

[2016-03-17 16:30] moozzyk commented on #59
exit code 2 means that no parameters were provided to a dnx command

[2016-03-17 16:36] muratg commented on #59
@lmxin123 Let us know if you still have issues!

[2016-03-17 16:36] #59 closed

[2016-03-21 15:58] muratg commented on #24
@victorhurdugaci After your partial rewrite, is this still an issue?

[2016-03-21 15:59] victorhurdugaci commented on #24
I haven't seen any issues with the watcher not triggering or Error-ing on CoreCLR. I'll close the issue for now

[2016-03-21 15:59] #24 closed

[2016-03-22 01:42] lmxin123 commented on #59
@victorhurdugaci Thank you very much! I update like this
  "commands": {
    "web": "Microsoft.AspNet.Server.WebListener --server.urls http://localhost:5001",
    "ef": "EntityFramework.Commands",
    "dnx-watch":"run"
  };
It run well.

[2016-03-22 03:28] victorhurdugaci commented on #59
1. `dnx-watch` should not be a command in `project.json`
2. @Tratcher I remember seeing an issue a few days ago where you helped someone with that error (`EnsureServer`). What was the fix?

Btw, now you're hitting a hosting error.

[2016-03-22 03:29] Tratcher commented on #59
use `web` instead of `run`

[2016-03-25 05:08] lmxin123 commented on #59
Good,it run well,Thank you!

[2016-03-30 05:35] glennc commented on #55
Has someone looked at this to know where the problem is? If it is an issue with the filesystem watcher when using Core CLR then we need to know that and have a bug filed for it. I am told this works on Mono so my assumption is that it is a corefx problem.

[2016-03-30 05:38] glennc commented on #40
Haven't completely forgotten about this. Waiting for the current churn around changing this to `dotnet-watch` and then I will try and reproduce, make sure it isn't still a problem after all the changes.

[2016-03-30 13:12] AlexChesser commented on #40
Thanks for the update!  I figure it's a bit of a pain for you lot right now.

[2016-04-06 22:01] victorhurdugaci opened #64 "Remove dnx reference"
There's a reference to `Microsoft.Extensions.CompilationAbstractions` which is a dnx component. It should be removed

https://github.com/aspnet/dotnet-watch/blob/release/src/Microsoft.DotNet.Watcher.Core/project.json#L14

[2016-04-06 23:40] victorhurdugaci commented on #64
Fixed

[2016-04-06 23:40] #64 closed

[2016-04-07 00:48] friism commented on #55
@glennc there are some scenarios where I don't think FilesystemWatcher is going to work. Examples:

 * [VirtualBox shared folder](https://www.virtualbox.org/ticket/10660) (used by Docker Toolbox on Windows)
 * [Samba shares](http://stackoverflow.com/questions/11306302/filesystemwatcher-with-samba-on-linux) (currently used by Docker for Windows)

... I'd actually be very interested in knowing wheth

[2016-04-07 00:50] friism commented on #55
Looks like the corefx folks have already looked at this: https://github.com/dotnet/corefxlab/tree/master/src/System.IO.FileSystem.Watcher.Polling

[2016-04-07 23:52] glennc commented on #55
To fix this we are going to implement a polling IFileWatcher.

The watcher should poll all files so that it can work on network shares.
It should not be the default.
Setting an env variable should enable it. (`DOTNET_WATCH_MODE=poll` perhaps?)
Passing an option on the command line should also allow you to set it

This way in a Docker base image you can use `ENV DOTNET_WATCH_MODE=poll` or you can p

[2016-04-08 00:16] muratg commented on #55
@glennc sounds good. I think a better env var name would be `DOTNET_WATCH_POLL` which could be set to 1 or true (or whatever pattern we use these days for boolean env vars).

[2016-04-08 00:23] victorhurdugaci commented on #55
I think I prefer the argument route. something like `--poll`. For example:

`dotnet watch --poll -- --app-arg1 --app-arg2`

Btw, should polling be the default behavior?

[2016-04-08 00:29] friism commented on #55
That may not be advisable because polling is not performant, especially with larger apps: https://github.com/OmniSharp/omnisharp-roslyn/pull/81

/cc @davidfowl

[2016-04-08 00:43] glennc commented on #55
Yeah, it can't be the default.

I was also just reminded that MVC is going to use FileSystemWatcher for detecting changes to cshtml as well. So we might not be able to go down this path either. The change needs to be wider.

[2016-04-12 18:45] victorhurdugaci commented on #55
I have a PR out to fix this: https://github.com/aspnet/dotnet-watch/issues/55

[2016-04-12 18:47] friism commented on #55
Link to PR: https://github.com/aspnet/dotnet-watch/pull/66

[2016-04-12 21:13] victorhurdugaci opened #67 "Dotnet watch doesn't restart on OSX because of a corefx issue"
Caused by https://github.com/dotnet/corefx/issues/7680

If it doesn't get fixed on their side, we need to workaround it.

cc @glennc

[2016-04-13 02:40] glennc commented on #67
This is a tracking issue.

If it is fixed in corefx for RC2 then we can close this. If not then we will need to workaround the issue for RC2 and then back out the changes for the release after RC2.

[2016-04-13 17:46] victorhurdugaci commented on #55
Changes were merged both in dev and release. If you want to watch files on a mounted volume, you have to set `USE_POLLING_FILE_WATCHER=true` before running `dotnet watch`

[2016-04-13 17:46] #55 closed

[2016-04-14 15:51] roydukkey opened #72 "Missing file or assembly Newtonsoft.Json"
Currently getting an issue finding Newtonsoft.Json:

[code]

The project restores and builds without issue for the follow project.json and NuGet.config.

##### project.json
[code]

##### NuGet.config
[code]

[2016-04-14 17:04] muratg commented on #72
@victorhurdugaci

[2016-04-14 17:43] victorhurdugaci commented on #72
I can reproduce this. Investigating...

[2016-04-14 19:02] victorhurdugaci commented on #72
The fix is to add `imports` to the tool and re-restore (make sure you clear the packages folder first because it doesn't work otherwise):

[code]

We believe this will be fixed in a future CLI

[2016-04-14 19:02] #72 closed

[2016-04-14 19:08] victorhurdugaci commented on #40
`dotnet-watch` should work on docker. If you can still reproduce the issue, please reopen

[2016-04-14 19:08] #40 closed

[2016-04-14 23:08] muratg commented on #67
@victorhurdugaci Please follow-up the rel check-in & our CoreFX consumption in the CI

[2016-04-15 18:08] anfomin opened #73 "[OS X] dotnet-watch fails on aspnetcirelease feed"
I've simple `project.json`:
[code]

Command `dotnet run` works. But if I try `dotnet watch` I'm receiving error:
[code]

I'm using OS X, aspnetcirelease feed, dotnet cli 1.0.0-rc2-002394.

[2016-04-15 18:09] BrennanConroy commented on #73
https://github.com/aspnet/dotnet-watch/issues/72

[2016-04-15 18:18] anfomin commented on #73
@BrennanConroy thank you! Didn't find this issue because it was closed.

[2016-04-15 18:40] #73 closed

[2016-04-16 10:03] Ciantic opened #74 "Error loading hostpolicy 1.0.1-rc2-002339, corehost_init_t has changed"
[code]

[code]

my project.json:

[code]

[2016-04-18 17:16] moozzyk commented on #74
Try uninstalling previous versions of dotnet and install the latest one.

[2016-04-18 18:24] Ciantic commented on #74
@moozzyk I can't verify if it still happens, because now adding dotnet watch to tools causes my program to not restore. It gives the Newtonsoft.Json 7.0.1 restore error, which is known, and I've been advised to not use dotnet watch for now in JabbR.

[2016-04-18 18:57] moozzyk commented on #74
Can it be this: https://github.com/aspnet/dotnet-watch/issues/72? You seem to have the import in place so try to clean package cache (`nuget locals -Clean all`) and restore again.

[2016-04-18 23:16] victorhurdugaci opened #75 "Watching projects in folders with same prefix doesn't work"
For examples if you watch two projects:

foo/project.json
foo.bar/project.json

only the changes in the first will be detected because of a bug in the matching algorithm. The algo should match with the final "/"

[2016-04-19 00:39] #75 closed

[2016-04-19 08:40] Ciantic commented on #74
@moozzyk it works now with this:

[code]

thanks.

[2016-04-19 08:40] #74 closed

[2016-04-19 21:25] henningst opened #79 "dnx-watch throwing ArgumentException saying directory name project.json is invalid"
I'm submitting this issue on request from @victorhurdugaci after posting a question on Stackoverflow. http://stackoverflow.com/questions/36711354/dnx-watch-stopped-working-and-throwing-argumentexception-because-directory-was-n

I've now stripped down my solution as much as possible. The problem is that I'm getting an ArgumentException as shown below when running dnx-watch in a project using RC1-Fi

[2016-04-19 21:30] victorhurdugaci commented on #79
Thanks for submitting this.

What do you have in `global.json`?

[2016-04-19 21:31] henningst commented on #79
c:\temp\MySolution\Falcon\global.json
[code]

[2016-04-20 21:56] victorhurdugaci opened #80 "dotnet-watch ignores --command if no other arguments are specified"
- `dotnet watch --command test`
- `dotnet watch --command test --`

don't work to specify the command name. You have to specify at least one argument. This works though:

- `dotnet watch --command test -- x`

[2016-04-20 23:07] victorhurdugaci commented on #67
Fixed by the latest CoreFx

[2016-04-20 23:07] #67 closed

[2016-04-21 16:35] muratg commented on #79
@victorhurdugaci Do you know if this repros with dotnet apps?

[2016-04-21 17:47] victorhurdugaci commented on #79
I am not able to reproduce this with dotnet watch. Using that project structure, the watcher works perfectly and it picks chances from all project.

Unfortunately, we're not going to create a fix for rc1 so I'll close this issue

[2016-04-21 17:47] #79 closed

[2016-04-21 22:34] victorhurdugaci opened #81 "Incorrect `--` passed to commands"
Today:

- `dotnet watch` -> `dotnet run`
- `dotnet watch --exit-on-change` -> `dotnet run -- --exit-on-change`
- `dotnet watch --exit-on-change -- --arg` -> `dotnet run -- --arg` (and the watcher gets the argument `--exit-on-change`
- `dotnet watch --command publish -- -f net451` -> `dotnet publish -- -f net451` (which is incorrect because publish doesn't accept `--`).

So, we've optimized watch t

[2016-04-22 15:43] muratg commented on #81
@victorhurdugaci Is this blocking docker folks?

cc @danroth27

[2016-04-22 15:44] victorhurdugaci commented on #81
Yes, I was just writing an rc2 ask mode request. I have a fix for it. It's very simple

[2016-04-22 22:26] #80 closed

[2016-04-22 22:26] #81 closed

[2016-04-27 10:56] dealdiane commented on #72
@victorhurdugaci  On a mac, where can I find this packages folder that needs to be cleared? I deleted `~/.local/share/NuGet/*` but it still errors.

[2016-04-27 19:32] victorhurdugaci commented on #72
it should be under `~/.nuget`

[2016-04-27 19:38] dealdiane commented on #72
Yep, that worked. Thanks

[2016-04-28 21:09] victorhurdugaci opened #87 "Run any command"
There's no reason why dotnet watch couldn't run any command other than `dotnet`.

The arguments will change a bit but it should do the same: launch an app with arguments

[2016-04-29 13:52] dodyg opened #88 "Cannot run dotnet watch on netstandard1.5"
[code]

I am running on RC-2

[code]

[2016-04-29 16:18] moozzyk commented on #88
Most likely you are running an older version of dotnet.

[2016-04-29 18:27] dodyg commented on #88
that's the case.

[2016-04-29 18:27] #88 closed

[2016-05-03 02:51] kichalla opened #89 "Application doesn't get restarted on changes to some files (example: Views)"
**Scenario:**
Using VS Code to work with MusicStore repo and using 'dotnet watch' to watch the application. Any updates to Views, controllers etc. should trigger an automatic restart of the application.

**Repro**
- Clone MusicStore repo and checkout the Release branch.
- Open the `project.json` file under `src\MusicStore` and add the following setting to the `buildOptions` node (this kind of chan

[2016-05-03 03:10] victorhurdugaci commented on #89
Changes to views are not supposed to be picked up by dotnet watch; that's by design because:
1. Dotnet watch only watches code file changes
2. Dotnet watch has no concept of views, it's not an ASPNET web watcher
3. MVC will recompile the views

[2016-05-03 03:12] victorhurdugaci commented on #89
Where's the list of scenarios?

[2016-05-03 10:40] kichalla commented on #89
Yes, I am getting at it.

But wondering how would this ever work though. During development I would be modifying the view files that are present in my project folder and not the ones that have already been copied to the build output.

@pranavkm @davidfowl

[2016-05-03 15:05] victorhurdugaci commented on #89
Did you comment on this at 4AM? :confused:

That's a different problem. You should be able to specify somehow that the views should be loaded from a different folder.

[2016-05-03 21:10] kichalla commented on #89
You were right. After changing the content root folder to the folder where my IDE points, I no longer see the issue. Thanks!

[2016-05-03 21:10] #89 closed

[2016-05-03 23:02] kichalla opened #90 "Changes to an excluded file is triggering a restart"
Repro: https://github.com/kichalla/dotnetwatchtestapp/
Git tag: excludedfile_causing_restart

When I change the following excluded Program.cs file, a restart happens
[code]

Expected: restart should not happen and the excluded files should be ignored from being watched
Actual: restart is triggered

[2016-05-04 14:22] tonysneed opened #91 "Detecting File Changes in Docker"
Dnx-watch required the following entry in a Dockerfile in order to detect file changes:

[code]

Is there a replacement for this in `dotnet watch`?  Currently it does not detect file changes when running in a Docker container.  See my repo here for an example: https://github.com/tonysneed/Demo.DotNetWatchDocker

[2016-05-04 15:48] victorhurdugaci commented on #91
That's a known limitation. The corefx watcher doesn't trigger property in all cases. Use the polling watcher instead by setting `USE_POLLING_FILE_WATCHER=1`.

We'll add it to the documentation soon.

[2016-05-04 15:56] victorhurdugaci commented on #90
Interesting, I wonder if it's caused by the recent project.json chances. There's a test already for that and it passes but it uses the old project format:

https://github.com/aspnet/dotnet-watch/blob/dev/test/TestApps/GlobbingApp/project.json#L11

[2016-05-04 16:07] tonysneed commented on #91
Thanks, exactly what I was looking for.

[2016-05-04 17:21] kichalla opened #92 "dotnet-watch: change the process id log message and show only when verbosity is enabled"
Currently when we run dotnet watch, it prints out the process id like below. I was under the assumption that this id is of the process to which I can attach my application, but it seems its not.
![image](https://cloud.githubusercontent.com/assets/6559784/15022628/67c92da8-11e1-11e6-9d21-a704a92003a1.png)

Suggestions:
- Change the log message to be more clear
- Do not show the log message by defau

[2016-05-04 19:37] kichalla opened #93 "Deleting a folder with code is not triggering any change"
Repro:
- Create a folder with .cs files outside an app
- start dotnet watch on the app
- drop the folder that was created earlier and you should see its content getting picked up
- delete this dropped folder and you should see the content not picked up.

[code]

[2016-05-04 19:50] kichalla opened #94 "Configuration argument to 'run' not taking affect"
Repro:
- do a `dotnet watch` on an app. This will by default compile the target app in `debug` mode.
- Ctrl + C to kill the dotnet watch
- do a `dotnet watch --run -c Release` and you should see this not building the app for Release

[code]

[2016-05-04 21:32] victorhurdugaci commented on #94
You command is incorrect. You should run

`dotnet watch --command run -- -c Release`

because

`dotnet watch --run -c Release` becomes

`dotnet run --run -c Release`

[2016-05-04 21:33] #91 closed

[2016-05-04 21:37] kichalla commented on #94
Ah yes. My bad. I verified it now and it works.

[2016-05-04 21:37] #94 closed

[2016-05-06 17:03] kichalla opened #95 "Changes to a non-C# project (F#) are not tiggering a restart"
Following is the CLI that I used

Repro:

- do a `dotnet new -l F#`
- update the project.json to have the `dontet watch` tool
- dotnet restore
- dotnet watch
- try modifying the `Program.fs`. You should see the app not restarting.

[code]

[2016-05-13 18:19] Bartmax opened #97 "error using dotnet watch"
Could not read the incremental cache file: ...

Not sure what is this, but a proper error message telling me how to fix it will surely help.
is this a bug on the watcher or something wrong with my code?

[2016-05-16 03:07] victorhurdugaci commented on #97
Please share more details about what you were doing when you got that error. Project files, executed command, dotnet version would be useful

[2016-05-16 03:14] Bartmax commented on #97
@victorhurdugaci I understand that the info provided is poor, unfortunately i'm not sure what was exactly what happened.

I can provide little info, unless until I get that error again.

I had a working solution,
run dotnet watch
did a lot of changes, specially on model objects (ef entities), had to upgrade database, execute migrations, lots of breaking stuff on controllers/services etc. Somewhere

[2016-05-16 03:17] victorhurdugaci commented on #97
I've never seen that message before but I searched for it now. It seems to be coming from dotnet cli https://github.com/dotnet/cli/blob/91fb67835d11f60bbe4763f0de6d3859236cb07a/src/dotnet/commands/dotnet-build/IncrementalCache.cs

It was probably a build bug. I suggest opening a bug on the CLI if you see it again.

[2016-05-16 03:19] Bartmax commented on #97
Sure. Feel free to close this as I understand is not of much help.

[2016-05-16 03:19] #97 closed

[2016-05-16 14:07] pranavkm opened #98 "NoDepsAppTests.RestartProcessThatTerminatesAfterFileChange needs to be more resilient"
[code]

The test has a success rate of 95.7% and passes on retry.

[2016-05-16 21:41] pk11 opened #99 "OS X: dotnet-watch does not seem to work with .NET core preview 1/asp.NET core"
My environment:
`10.11.4 OS X (El Captain)`

dotnet:
[code]

project.json:
[code]
Startup.cs:
[code]
Program.cs:
[code]

running `dotnet watch` gives the following output:
[code]
however, it never picks up any changes, so I have to keep restarting the app to apply my modifications.

[2016-05-16 22:03] victorhurdugaci commented on #99
1. What file do you change?
1. Are you running from a mounted/network volume? We know there are some issues with that. Can you try to enable the polling file watcher by setting the environment variable `USE_POLLING_FILE_WATCHER=1` before running `dotnet watch`?

[2016-05-16 22:09] pk11 commented on #99
1. I changed `Startup.cs` and `Program.cs`
2. I am running this in a standard, local folder

here is the output for setting the env. variable you suggested above, making a change (not being picked up, then `^C`, restart and the change is finally applied):
[code]

[2016-05-16 22:12] victorhurdugaci commented on #99
@kichalla can you please take a look at this?

[2016-05-16 22:15] kichalla commented on #99
Sure

[2016-05-16 23:33] kichalla commented on #99
Hmm, I am unable to repro this issue.

My environment:
![image](https://cloud.githubusercontent.com/assets/6559784/15306986/e86d7346-1b83-11e6-8e88-939d7c8909c1.png)

[2016-05-16 23:36] pk11 commented on #99
@kichalla I have the same output:
[code]

I tried it multiple times again but still no dice. Is there a way I could get some additional debug information?

[2016-05-16 23:42] kichalla commented on #99
@pk11 you could do `dotnet -v watch <rest of the stuff>` and this would give verbose output. (BTW there is a delay between any changes you make and that are picked by dotnet watch and there is compilation and run phase. I just want to make sure that you are giving enough time for this whole process to finish before you are making a request)

[2016-05-16 23:44] pk11 commented on #99
@kichalla I managed to get a stacktrace:
[code]

[2016-05-16 23:47] pk11 commented on #99
@kichalla here is the output with `-v`. As for your question, I definitely leave time, up to 10-15 seconds.

[code]

[2016-05-16 23:53] kichalla commented on #99
From the log I see that you have `1.0.0-rc2-20873` version of the dotnet watch tool. Could you try again after updating your project.json to use the `1.0.0-preview1-final`, restore it and run dotnet watch?

[2016-05-16 23:59] pk11 commented on #99
I did `rm -rf obj` + `dotnet restore` but still the same exception with `Microsoft.DotNet.Watcher.Tools/1.0.0-preview1-final`. I moved my stdout to a gist: https://gist.github.com/pk11/16f1e457f1512315a4947c468901b85a

[2016-05-17 00:16] kichalla commented on #99
Thanks for trying it out.

cc @moozzyk

[2016-05-17 00:40] victorhurdugaci commented on #99
Wow! That's a lot of child processes. I wonder what's causing it. The dotnet chain should be 4-6 processes...

@pk11 can you please do two more thing for me? When you run dotnet watch, it will print the dotnet process id.

1. Run `pstree <dotnet proc id>` in a console while the watcher is running
2. Run `pgrep -P <dotnet proc id>`

Then share the output

[2016-05-17 00:44] victorhurdugaci commented on #99
Just a random thought... Maybe [this line](https://github.com/aspnet/Common/blob/dev/src/Microsoft.Extensions.Process.Sources/ProcessHelper.cs#L67) evaluates somehow to `id = 0`  and then we start enumerating the children of the `init` process. That's the only explanation that I have for having so many child processes.

[2016-05-17 04:07] pk11 commented on #99
[code]

[2016-05-17 05:13] victorhurdugaci commented on #99
Okay, that explains why you see the exception. `pgrep -P <id>` should return the processes that have the process with id `<id>` as parent. In your case you get the list of what I believe to be the list of all running process ids. That's very strange. We try to kill all the processes returned by `pgrep` and, as you expect, it fails. That's why the app doesn't restart.

Do you have a custom `pgrep`?

[2016-05-17 16:23] pk11 commented on #99
I used the `pgrep` version that came with `brew`. I did not see any other processes for the `dotnet` PID (other than the one I posted above).

[2016-05-17 17:02] victorhurdugaci commented on #99
`pgrep` should be part of OSX, you don't need a brew version. Can you please check if you're using the default one?

[2016-05-18 03:00] pk11 commented on #99
I just checked, I am using the default version that came with os x (location: `/usr/local/bin/`)

[2016-05-18 03:40] pk11 commented on #99
it's also worth pointing it out that if I simply generate a hello world console app with `dotnet new`, add `dotnet watch` as a dependency, do `dotnet restore` and finally launch it via `dotnet watch` it does pick up changes. The only time the issue happens when I run Kestrel

[2016-05-18 17:35] victorhurdugaci commented on #99
Very interesting. Hey, @kichalla do you have time to check a Kestrel app on osx?

[2016-05-18 17:45] spboyer commented on #99
I have it running on OSX with no issues.

[2016-05-18 17:49] muratg commented on #99
Assigning to @kichalla for further investigation.

[2016-05-18 18:08] kichalla commented on #99
Actually I did try with the repro code in this issue and it worked fine

[2016-05-20 06:38] rdefreitas opened #100 "dotnet-watch --command test - MissingMethodException"
I'm attempting to run tests in core RC2. My test project does not have an entry point (Program.cs) and runs tests properly using the command "`dotnet test`".

I'm not sure if it would be better to address this issue here or in xunit. I created an issue there as well: xunit/xunit#849

When I try to run tests continuously, however, I see the following error:

	H:\Dev\Sample\test\Sample.Test.Unit>dot

[2016-05-20 18:04] mikeharder opened #101 "Rename environment variable used to enable polling"
Both dotnet-watch and MVC use environment variables to enable polling.  Currently, dotnet-watch uses `USE_POLLING_FILE_WATCHER`, while MVC uses `ASPNETCORE_POLL_FOR_FILE_CHANGES`.  To simplify things for customers, including the Dockerfile generated by Docker for VS Tooling, we would like to use the same variable for both dotnet-watch and MVC, and name it accordingly.

Related: https://github.com/

[2016-05-20 21:02] dougbu commented on #98
This test doesn't always pass on retries and is one of the reasons our Test passes are frequently red. ~95% success isn't good enough.

@muratg any objection to temporarily disabling this test until someone can address the root cause?

[2016-05-20 22:02] muratg commented on #98
@dougbu yes, please do!

@victorhurdugaci could you please investigate?

[2016-05-21 08:05] victorhurdugaci commented on #100
You're hitting one of the weird cases of dotnet watch. We have a lot of processes involved in the watcher chain (dotnet -> watch -> dotnet -> command) and there's some of confusion around what argument gets passed to which process.

dotnet watch <anything other than --help or -- > runsdotnet run -- <all arguments> (yes, dotnet run has it's own -- argument and we special cased it). So, dotnet watch

[2016-05-21 20:37] rdefreitas commented on #100
I see. This isn't really clearly documented, and the asp.net docs don't say anything about this.

I see this case as pretty common, instead of running `dotnet watch --command test --` with those extra hyphens, since the test runner is a built-in and needed feature, can there be a special case added such that someone could just run `dotnet watch test`?

[2016-05-22 11:25] guylando opened #103 "dotnet watch on net451 - Could not load type 'System.ICloneable'"
I have an asp.net 5 project running using the cli but targets net451 framework.
When trying to run dotnet watch it says the following and does not continue:

[DotNetWatcher] fail: Could not load type 'System.ICloneable' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'. Could not load type 'System.ICloneable' from assembly 'mscorlib, Version=4.0.0.0, Cultu

[2016-05-22 21:57] Eilon opened #104 "Clean up package metadata and pre-Core references"
# NuGet package metadata
The `project.json` file of every shipping NuGet package has two properties that must be non-empty:
1. description
2. tags

## Description guidance

Description should be at least something like this:
  "description": "ASP.NET Core MVC view rendering features. Contains common types used in most MVC applications as well as view rendering features such as view engines, views,

[2016-05-22 22:37] CoreyKaylor commented on #100
Agreed regarding this being pretty common. Good that there's at least a way that works, but it should stay simple to cater for the common case of `dotnet watch test`

[2016-05-22 22:39] CoreyKaylor commented on #100
Also I'm seeing the examples that pass arguments to the test runner probably won't work either. https://github.com/dotnet/cli/issues/1385

[2016-05-23 04:59] victorhurdugaci commented on #100
We'll consider special casing `test` since it's a first class property in `project.json` and I'll make sure the docs are up to date.

As for the other issue, it seems that that's an xunit issue... `dotnet run -- --foo` passes `--foo` to the compiled application

[2016-05-23 05:17] victorhurdugaci commented on #103
You shouldn't change the imports for dotnet watch. If you want to run an application for a different framework then you have to pass the `--framework net451` argument to `dotnet run`:

`dotnet watch --command run -- --framework net451 --`
or
`dotnet watch --command run -- --framework net451 -- <args>`

We know that argument passing is a bit confusing. We'll update the docs.

[2016-05-23 08:30] guylando commented on #103
Still same error.

I changed project.json as you said to:
"tools": {
    "Microsoft.DotNet.Watcher.Tools": {
      "version": "1.0.0-preview1-21006",
      "imports": "portable-net451+win8"
    }
  }

My project.lock.json has:
"tools": {
    ".NETCoreApp,Version=v1.0": {
      "Microsoft.DotNet.Watcher.Tools/1.0.0-preview1-21006": {
        "type": "package",
        "dependencies": {
          "M

[2016-05-23 08:32] guylando commented on #103
My guess is that the problem is that a net451 program with an mscrolib that has ICloneable is trying to compile a netcoreapp1.0 program (dotnet watch) which has an app mscrolib without ICloneable

[2016-05-23 08:35] guylando commented on #103
This is what it says before the error occures when running with -v:

Running C:\Program Files\dotnet\dotnet.exe exec --depsfile C:\Users\XXX\.nuget\packages\.tools\Microsoft.DotNet.Watcher.Tools\1.0.0-preview1-21006\netcoreapp1.0\Microsoft.DotNet.Watcher.Tools.deps.json --additionalprobingpath C:\Users\XXX\.nuget\packages C:\Users\XXX\.nuget\packages\Microsoft.DotNet.Watcher.Tools\1.0.0 -preview1-

[2016-05-23 18:55] dougbu commented on #98
Revert dc9fead as part of this fix.

[2016-05-23 19:28] victorhurdugaci opened #105 "Simplify watcher arguments proposal"
Proposed changes:

- Remove `--exit-on-change` (confirmed that it's not used by anyone internally)
- Remove `--command`
- All arguments are passed to dotnet (except `--help`. That's special and shows watcher help).

Examples:

- I want to show help
    - Before: `dotnet watch --help`
    - After: `dotnet watch` or `dotnet watch --help`
- I want to run `dotnet run`
    - Before: `dotnet watch` or `

[2016-05-23 19:34] victorhurdugaci commented on #100
We'll track this issue [here](https://github.com/aspnet/dotnet-watch/issues/105). Closing this one

[2016-05-23 19:34] #100 closed

[2016-05-23 20:03] moozzyk commented on #105
_I want to run dotnet run
Before: dotnet watch or dotnet watch --command run --
After: dotnet run_

Shouldn't after be `dotnet watch run`?

[2016-05-23 20:14] victorhurdugaci commented on #105
Yes, fixed :)

[2016-05-23 21:07] kichalla commented on #99
@victorhurdugaci @muratg how do we want to proceed with this?

[2016-05-23 21:32] victorhurdugaci commented on #99
I hate doing this but we can't reproduce it so we'll have to close it...

[2016-05-23 22:52] victorhurdugaci commented on #105
@Eilon and @glennc what do you think about doing this now?

[2016-05-23 23:50] rdefreitas commented on #105
I would propose that `dotnet watch` with no arguments should still execute `dotnet run`, as this feels a bit more like other watchers. (even though they require explicit configuration).

[2016-05-24 03:20] victorhurdugaci commented on #105
That's a tricky one because `dotnet watch` would run `dotnet run` while `dotnet watch --foo` would run `dotnet --foo`. I think most folks would expect `dotnet --foo` to be `dotnet run --foo` in that case.

[2016-05-24 06:39] davidfowl commented on #103
These imports are incorrect:

[code]

You shouldn't change the imports of the tool, that's incorrect.

[2016-05-24 06:41] davidfowl commented on #99
@pk11 Can you still reproduce the problem?

[2016-05-24 07:47] guylando commented on #103
Thanks for the help.
Changing the "imports" back to "portable-net451+win8" did not help solve the problem (see my previous comment) because it seems that previous version was still used.
What finally solved the problem was after changing the imports, I deleted the watcher packages both from C:\Users\XXX\.nuget\packages and from C:\Users\Guy\.nuget\packages\.tools and then done a dotnet restore and

[2016-05-24 07:47] #103 closed

[2016-05-24 08:34] janpieterz opened #106 "Speed of dotnet watch is quite low"
Before the watcher even reports a file change (3+ seconds), then it recompiles (it reports 3.84 seconds but my stopwatch certainly recorded 7+ seconds) and then the app restarts. Overall, it feels like I'm waiting a lot again.

DNX-watch, though it obviously called a different pipeline, was considerably faster and a lot more usable for quick development, where generally it was so fast I could save

[2016-05-24 13:50] pk11 commented on #99
@davidfowl Yes. I recorded a quick video: https://www.dropbox.com/s/d1ucca2hadmylyd/dotnet-watch.mov?dl=0

[2016-05-24 17:19] victorhurdugaci commented on #99
So, I understand why this happens. That's because `pgrep -p` reports unexpected values. The file watcher triggers but then we try to kill some processes that we shouldn't. It's actually good that we fail on the first try because otherwise we'd try to kill every single process on your machine :)

@pk11 can you do a bit more investigation on your side to see if something changed `pgrep`? It doesn't

[2016-05-24 18:02] victorhurdugaci commented on #106
Thanks for reporting this. Can you please share a bit more details?

1. Do you feel the time it takes the watcher to detect a file changed is too slow or the entire restart process?
1. How do you measure the time?
1. How many files are in your application?
1. What OS do you use?

Maybe this is a bit much to ask but this is one of those bugs where a video showing us what's happening would be ideal.

[2016-05-24 18:48] kichalla commented on #99
@victorhurdugaci not related to the main issue here, but probably we should file an issue for logging errors(like in this case verbose output was used to find out the cause)?

[2016-05-24 19:36] janpieterz commented on #106
No sweat, sure! Certainly worth the time investing ;)

1. Both really, the watcher takes quite a while and the restart process as well.
2. First time a stopwatch, now I used the milliseconds my video recorder shows
3. Not too much, besides a hefty node_modules (both in dnx-watch and dotnet-watch apps) I'd say ~ 100 max ? Basically the default and a couple of controllers extra, most of the stuff ha

[2016-05-24 23:08] victorhurdugaci commented on #104
I'll take this bug since I'm already doing changes in this repo

[2016-05-24 23:20] #105 closed

[2016-05-25 01:15] nil4 commented on #106
Re: hefty `node_modules`, potentially related to dotnet/cli#2847

[2016-05-25 01:15] Eilon commented on #104
Thanks!

[2016-05-25 01:15] Eilon commented on #105
Done?

[2016-05-25 04:51] janpieterz commented on #106
Thanks @nil4, your suggestion seem to help. Removed the node_modules completely and the speed is significantly quicker.
https://drive.google.com/file/d/0BzlrR85b1aHuZjllZGJYdi1WWW8/view?usp=sharing

Good to note though that the whole process is still quite a bit slower than the dnx-watch video, while that application is quite a bit bigger (but I think that this is more the compilation/startup that

[2016-05-25 05:48] victorhurdugaci commented on #106
dotnet compilation is slower than dnx because we no longer compile in memory but we first write the binaries on disk and then launch a new process.

[2016-05-25 05:49] victorhurdugaci commented on #106
As for the node_modules folder we know it causes issues... Even though the watcher doesn't trigger on changes in that folder, it still watches (usually) the parent folder and all the children.

[2016-05-25 05:58] victorhurdugaci commented on #105
Done :)

[2016-05-25 06:19] janpieterz commented on #106
That's good to know, thanks.

Are there any options to let dotnet compile in memory? Either by passing this as an option to the watcher (or letting it do so by default, just like for example webpack in dev-server mode goes into a memory only mode)?
And is there any workaround for the node_modules to explicitly exclude it from being watched? It is not an inherent file watching problem I guess, sinc

[2016-05-25 16:18] victorhurdugaci commented on #106
No, dotnet doesn't support in memory compilation.

I'll do some investigations to see why the file trigger is slow, I don't know yet the root cause but you cannot exclude the node modules unless you move them outside of the project folder.

[2016-05-25 16:41] muratg commented on #93
@victorhurdugaci Let's investigate. If it's not super simple fix, please move to 1.0.1

[2016-05-25 16:42] muratg commented on #90
@victorhurdugaci Let's investigate. If it's not a super simple fix, we can move to 1.0.1

[2016-05-25 16:44] muratg commented on #106
Thanks @janpieterz!  We'll do further investigation on this.

[2016-05-25 16:47] muratg commented on #101
@Eilon Can we agree on a name? @victorhurdugaci will do the change both here and on https://github.com/aspnet/Mvc/issues/4696

cc @pranavkm

[2016-05-25 17:18] victorhurdugaci opened #109 "[Announcement] Dotnet watch argument changes"
Discussion for https://github.com/aspnet/Announcements/issues/183

[2016-05-25 18:08] janpieterz commented on #106
Awesome guys! I'm more than happy to help out doing some testing, and obviously this all works already, so it's not a 'fix' thing, but if there is some time / resources available, I reckon the video clearly shows an improvement that is worth quite the while, both on the watching and the compiling front!

[2016-05-25 19:04] jchannon opened #111 "Why do we need to modify project.json"
Hi, having used nodemon in the past that watches javascript files and restarts the server with no config required to the actual app why does dnx watch need it. Is there a way to use dnx watch without modifying my app's project.json file?

[2016-05-25 19:27] cmatskas commented on #111
@jchannon raises a valid point and would be nice to know why we changed the mechanics around the `watch` command. Could you guys add a response below or point us to a blog post with details around this decision. It feels a lot more invasive than in other modern languages/frameworks

[2016-05-25 19:39] mikeharder commented on #101
Existing names:

[code]

Proposals for unified name:

[code]

[2016-05-25 20:09] Eilon commented on #105
4-Thanks!

[2016-05-25 20:20] miguellira commented on #111
This issue was opened after a Twitter thread among this group earlier today...

Of course by "dnx" @jchannon means "dotnet". I guess a different way to ask the same thing is: As a first class "tool" for .NET core, what advantages do you gain from using `dotnet-watch` over another watcher.

[2016-05-25 21:55] victorhurdugaci commented on #111
In the `dnx` world we had global commands that you could install globally without having to change `project.json`. However, you couldn't add them as a dependency to `project.json`, so you couldn't restore them globally.

In the `dotnet` world, things changed. There's no global acquisition story for tools, but now tools are at least added to `project.json` so they can be restored.

I agree that `do

[2016-05-25 22:49] victorhurdugaci commented on #90
Just as I suspected, this was caused by the new project structure/reader

[2016-05-25 23:51] muratg commented on #101
`DOTNET_USE_POLLING_FILE_WATCHER`?

[2016-05-26 00:55] miguellira commented on #111
@victorhurdugaci That's for thorough and clear response.

[2016-05-26 04:31] Eilon commented on #101
Yeah I dig that name.

[2016-05-26 04:32] Eilon commented on #101
That is, the name that @muratg suggested.

[2016-05-26 07:36] danielsaidi opened #113 "dotnet watch test does not run unit tests"
Hi,

I am porting a lib to .NET Core and are currently writing unit tests for it.

When I run `dotnet test`, the tests run as expected. However, when I run `dotnet watch test`, I get the following:

[code]

It seems dotnet watch runs the project instead of running the tests.

[2016-05-26 10:02] tmds opened #114 "Configure dotnet watch via config file and setup multiple commands"
I have a project with a gulp watch to check for typescript changes and a dotnet watch for aspnet core changes.

It would be nice if I could run a single watcher and set it up with a config file.

Relates to: https://github.com/aspnet/dotnet-watch/issues/87, https://github.com/aspnet/dotnet-watch/issues/32

[2016-05-26 16:21] victorhurdugaci commented on #114
Thanks for the suggestion! We'll address this as part of https://github.com/aspnet/dotnet-watch/issues/87

[2016-05-26 16:21] #114 closed

[2016-05-26 16:24] victorhurdugaci commented on #113
If you're using RC2 bits, the command line syntax is: https://github.com/aspnet/dotnet-watch/blob/release/README.md
If you're using RC3 bits, the command line syntax is: https://github.com/aspnet/dotnet-watch/blob/dev/README.md

Based on you're log, I think you're using RC2. So, to run `dotnet test` run `dotnet watch --command test --`

[2016-05-26 16:26] victorhurdugaci commented on #32
This will be addressed as part of https://github.com/aspnet/dotnet-watch/issues/87 because you'll be able to start your own command that can do notifications.

[2016-05-26 16:26] #32 closed

[2016-05-26 16:26] victorhurdugaci commented on #7
@davidfowl still want this?

[2016-05-26 16:27] victorhurdugaci commented on #10
Closing this issue because `dnx-watch` went away. The new command is `dotnet-watch`

[2016-05-26 16:27] #10 closed

[2016-05-26 16:30] davidfowl commented on #7
Yes, but it will be very different. It'll likely be a dotnet CLI change to support the roslyn compilation server.

[2016-05-26 16:46] #104 closed

[2016-05-26 16:51] victorhurdugaci commented on #7
Close this?

[2016-05-26 20:15] danielsaidi commented on #113
Yeah, you're right in that I'm using RC2, and the line you posted worked. Thanks a million!

[2016-05-26 20:15] #113 closed

[2016-05-26 20:41] #98 closed

[2016-05-26 21:56] muratg commented on #101
@victorhurdugaci please update it both here and in MVC.

[2016-05-26 22:42] #101 closed

[2016-05-26 23:06] #90 closed

[2016-05-27 07:56] tmds commented on #87
+ support dotnet-watch configuration via config file (https://github.com/aspnet/dotnet-watch/issues/114)

[2016-05-27 21:29] BrennanConroy opened #117 "3 tests broken"
GlobbingAppTests.ChangeCompiledFile_PollingWatcher
GlobbingAppTests.ChangeNonCompiledFile_DotNetWatcher
GlobbingAppTests.ChangeNonCompiledFile_PollingWatcher
These broke from one of your recent changes I'm guessing @victorhurdugaci

[2016-05-30 06:58] vinaydate opened #119 "OSX: dotnet watch run fails"
When I run dotnet watch run, the command fails with following log:

    $ dotnet -v watch run
    Telemetry is: Enabled
    Running /usr/local/share/dotnet/dotnet exec --depsfile /Users/vinay/.nuget/packages/.tools/Microsoft.DotNet.Watcher.Tools/1.0.0-preview1-final/netcoreapp1.0/Microsoft.DotNet.Watcher.Tools.deps.json --additionalprobingpath /Users/vinay/.nuget/packages /Users/vinay/.nuget/packa

[2016-05-30 09:29] vinaydate commented on #91
Worked for me as well. Thanks

[2016-05-31 02:44] victorhurdugaci commented on #91
Please note that in the latest version (from the `dev` branch) we've renamed the variable: https://github.com/aspnet/Announcements/issues/186

[2016-05-31 16:17] victorhurdugaci commented on #93
cc @muratg moved this to 1.0.1

I'll revert the fix for this and move it to the next milestone. It requires a redesign because now the watcher, when receiving a change, needs to know if it was caused directly by that file changing or by someone under it.

For example, given this file: `/foo/bar/baz.cs`, if `/foo/*.cs` is ignored and you delete `baz.cs` you'll get 3 change notifications:

- `/foo/b

[2016-05-31 16:21] victorhurdugaci commented on #117
This should be fixed. Pushed by mistake directly to dev: https://github.com/aspnet/dotnet-watch/commit/c5abb2e2ebdc73d7814d09aae56490fdb32921b2

[2016-05-31 16:21] #117 closed

[2016-05-31 16:21] victorhurdugaci commented on #93
Revert commit: https://github.com/aspnet/dotnet-watch/commit/c5abb2e2ebdc73d7814d09aae56490fdb32921b2

[2016-05-31 16:26] victorhurdugaci commented on #111
I'm going to assume that my answer was sufficient and close the issue. Please reopen if that's not the case.

[2016-05-31 16:26] #111 closed

[2016-05-31 16:27] victorhurdugaci commented on #119
@vinaydate I cannot reproduce your issue. Can you please share a bit more information:

1. What nuget feeds do you use?
2. What version of `dotnet-watch` do you use?

[2016-05-31 18:30] victorhurdugaci commented on #119
Ah, nevermind, I see in the log that you shared `Microsoft.DotNet.Watcher.Tools/1.0.0-preview1-final`. You're using an old dotnet watcher. Go the the packages folder and delete it, then run `dotnet restore`

[2016-06-01 23:13] victorhurdugaci opened #121 "Timing issue when file is deleted in the polling watcher"
It happens when a file is deleted during the loop execution.

[code]

[2016-06-02 04:37] #121 closed

[2016-06-02 21:40] muratg commented on #119
@vinaydate did moving to RC2 dotnet watcher fix the issue?

[2016-06-03 17:01] vinaydate commented on #119
@victorhurdugaci It may look naive, but I am newbie to this cross-platform dotnet thing, so, where does this 'packages' folder reside? I tried to find it, but no such folder in my project root.

@muratg, forgive me for ignorance. I am using RC2 of dot net core, but don't know how to get RC2 of watcher

[2016-06-03 17:03] victorhurdugaci commented on #119
To delete the packages folder, delete `/Users/vinay/.nuget/packages/`. You'll get the latest package when you run `dotnet restore`

[2016-06-03 18:28] vinaydate commented on #119
@victorhurdugaci and @muratg Fixed by deleting packages folder n restoring again. Thank you.

[2016-06-03 18:29] #119 closed

[2016-06-03 22:35] davidMuir opened #124 "Should dotnet-watch be able to run commands other than run?"
Currently trying to use dotnet watch to just build on file changes

I'm using dotnet watch as follows:

[code]

and expecting the following command to be run

[code]

the command that is actually ran is
[code]

Is there any way to get this behaviour?

[2016-06-04 03:04] victorhurdugaci commented on #124
If you're using RC2 bits, the command line syntax is: https://github.com/aspnet/dotnet-watch/blob/release/README.md
If you're using RC3 bits, the command line syntax is: https://github.com/aspnet/dotnet-watch/blob/dev/README.md

Based on your log, I think you're using RC2. So, to run `dotnet build` run `dotnet watch --command build --`. For RC3, you'd run, as you expect, `dotnet watch build`

[2016-06-04 22:20] davidMuir commented on #124
Yep that's done it!

Thanks for the help, and for creating such a useful tool!

[2016-06-04 22:21] #124 closed

[2016-06-10 20:33] sokket opened #127 "Dotnet watch run has error output and success output for F# project"
# Steps
1) Make a new F# project directory
2) Restore
3) Run ```dotnet watch run```

# Expected
Success!

# Actual

Both success and error outputs

[bb@bb-oraclelinux72 F#]$ ../../dotnet/dotnet watch run
[DotNetWatcher] info: Running dotnet with the following arguments: run -- run
[DotNetWatcher] info: dotnet process id: 19909
Project F# (.NETCoreApp,Version=v1.0) will be compiled because inputs w

[2016-06-10 22:36] victorhurdugaci commented on #127
Why do you think this is a watcher issue? Does it work without "watch"?

[2016-06-10 22:56] sokket commented on #127
Yes, running ```dotnet run``` worked perfectly fine

[2016-06-10 22:57] victorhurdugaci commented on #127
Interesting... `dotnet watch run` simply calls `dotnet run`. I'll take a look

[2016-06-10 23:02] mellinoe opened #128 "dotnet-watch seems to hide Console.ReadLine input"
Consider this program:

[code]

If I run this program using `dotnet watch run`, my input for the `Console.ReadLine()` command is not visible. Once I hit enter, the program continues as normal and my input AND output are displayed.

[code]

[2016-06-15 07:23] lcalabrese opened #130 "dotnet watch --command test -- not working on win7 machine"
Running `dotnet watch --command test` works fine on my Windows 10 machine, but for some reason is not working on my Windows 7 one. It's the same project.json and therefore the same version of dotnet-watch. Am I missing something?

[code]

[2016-06-15 17:22] victorhurdugaci commented on #130
What version of the watcher are you using? It is RC2-final? We had a bug like that in pre-RC2-final version.

[2016-06-16 04:29] lcalabrese commented on #130
Thanks for your reply. I guess it’s not RC2-final; my project.lock.json file (on both computers) is:

"tools": {

    ".NETCoreApp,Version=v1.0": {

      "Microsoft.DotNet.Watcher.Tools/1.0.0-preview1-final": {

        "type": "package",

        "dependencies": {

          "Microsoft.DotNet.Watcher.Core": "1.0.0-preview1-20901",

          "Microsoft.Extensions.CommandLineUtils": "1.0.0-rc2-fi

[2016-06-16 04:44] victorhurdugaci commented on #130
In your project.json all you need is:

[code]

You don't have to add tools specific dependencies.

If that doesn't fix the issue, the add the code above, delete the packages folder from `%userprofile%\.nuget` and then run `dotnet restore`

[2016-06-16 04:56] lcalabrese commented on #130
Hmm, that’s exactly what I have. Deleting the packages folder and running `dotnet restore` didn’t help either, I’m getting the same problem.

Interestingly enough, specifically asking for `“version”: “1.0.0-rc2-final”` says: Unable to resolve 'Microsoft.DotNet.Watcher.Tools (>= 1.0.0-rc2-final)' for '.NETCoreApp,Version=v1.0'.

From: Victor Hurdugaci [mailto:notifications@github.com]
Sent: Thursda

[2016-06-16 05:02] victorhurdugaci commented on #130
What nuget feeds do you use?

[2016-06-16 06:23] lcalabrese commented on #130
Here’s my NuGet.Config:

[code]

I also just tried `dotnet restore --no-cache` but it didn’t seem to matter.

I have to admit I don’t quite understand the difference between all the feeds. Am I using the wrong one(s)?

[2016-06-16 15:33] victorhurdugaci commented on #130
Can you share the restore log? At the end of it, there should be the actual feeds used

[2016-06-17 03:44] lcalabrese commented on #130
[code]

[2016-06-17 17:49] victorhurdugaci commented on #130
The issue is that some other package is causing the watcher to be downgraded to a pre-rc2 version. Do you mind sharing the full `project.json` file?

[2016-06-21 04:31] lcalabrese commented on #130
Sure, although I can assure you the `project.json` file is the same between the two machines.

[code]

[2016-06-28 16:48] muratg commented on #130
@lcalabrese Do you still repro this with all the RTM bits?

[2016-06-28 16:49] muratg commented on #128
@victorhurdugaci is this by design somehow?

[2016-06-30 06:40] lcalabrese commented on #130
Nope, it looks like it’s working now (with the new command “dotnet watch test”)!

From: Murat Girgin [mailto:notifications@github.com]
Sent: Wednesday, June 29, 2016 1:49 AM
To: aspnet/dotnet-watch <dotnet-watch@noreply.github.com>
Cc: Lee Calabrese <lee.calabrese@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/dotnet-watch] dotnet watch --command test -- not working on win7

[2016-06-30 15:38] #130 closed

[2016-06-30 19:26] victorhurdugaci commented on #99
@pk11 we released `preview2` of `dotnet watch`. Can you try with that version and let us know if the issue is fixed? Reopen the bug if you can still repro.

[2016-06-30 19:26] #99 closed

[2016-06-30 21:10] victorhurdugaci commented on #128
I've tried to reproduce this but it seems to work fine. I can see the input as I type it. Is this happening on a particular OS or shell?

[2016-06-30 21:21] victorhurdugaci commented on #127
@sokket is this even supported? It seems that the latest CLI doesn't have F# support. Even when running an app without watcher, I get `No executable found matching command "dotnet-compile-fsc"` and it seems that indeed `dotnet-compile-fsc` is not on disk

[2016-06-30 21:27] sokket commented on #127
`dotnet run` for F# is supported...if watch doesn't support F# then feel free to close this issue :).

Which version of the CLI and from which channel?

[2016-06-30 21:34] victorhurdugaci commented on #127
watch it language agnostic. It starts a process calling `dotnet run`.

I'm using the RTM CLI (1.0.0-preview2-003121)

[2016-06-30 21:37] victorhurdugaci commented on #127
Tried 1.0.0-preview3-003150 and still no fsc

[2016-06-30 21:48] sokket commented on #127
@piotrpMSFT Any ideas why fsc isn't there?

[2016-07-01 22:35] BrennanConroy opened #132 "MultipleTriggers test fails frequently on macOS"
@victorhurdugaci

[2016-07-01 23:17] victorhurdugaci commented on #132
I'll take a look

[2016-07-05 17:51] victorhurdugaci commented on #127
hey @sokket , I'm not able to reproduce the issue. It seems that everything works:

[code]

Can you please try it with the latest dotnet watch and see if you can still repro? From your original log it seems that you were using the rc1 version.

[2016-07-05 17:52] victorhurdugaci commented on #95
@kichalla I just tried this and it seems to work. Can you please try again and either add more details or close? Thanks!

[code]

[2016-07-05 18:46] #132 closed

[2016-07-05 23:05] victorhurdugaci commented on #127
@sokket as per our offline conversation, please reopen if you can still repro.

[2016-07-05 23:05] #127 closed

[2016-07-06 16:04] muratg commented on #106
This issue was moved to dotnet/cli#3796

[2016-07-06 16:04] #106 closed

[2016-07-09 22:37] Sineaggi commented on #128
I can repro this on osx. Happens in Terminal and iTerm, sh and zsh.

[2016-07-11 16:00] Ciantic opened #135 "Console colors are lost during watching (Windows)"
System: Windows 10, 64bit

I have ILogger that prints colors by default e.g. `fail` is red when ran like `dotnet run` but the colors stops working if I run it in watch mode `dotnet watch run`

[2016-07-11 18:01] BrennanConroy commented on #135
Known issue see https://github.com/dotnet/cli/issues/1977#issuecomment-227214885
Should be fixed in the latest CLI, or one that will be built soon

[2016-07-11 18:15] #135 closed

[2016-07-12 12:31] janpieterz opened #136 "Dotnet watch doesn't run with certain references"
I have been unable to pinpoint exactly which is erroring, but it seems to be related to certain project references. `dotnet run` works fine, and I have tried all kinds of things with the references projects, lock files, restores and what not. Reason I'm thinking this is a referencing issue is because in other projects it works fine that have less or different references (local project references).

[2016-07-12 16:41] victorhurdugaci commented on #136
Can you `dotnet run` with that `project.json` ?

[2016-07-12 16:42] #95 closed

[2016-07-12 16:45] janpieterz commented on #136
Jup, that's the odd bit. See logs:

[code]

[2016-07-12 17:02] victorhurdugaci commented on #136
What dotnet version do you use? (`dotnet --version`)

[2016-07-12 17:08] janpieterz commented on #136
1.0.0-preview2-003121

[2016-07-12 17:42] victorhurdugaci commented on #136
Dank je wel :) The project and everything looks fine. I'll try to reproduce here with your project later today. I'll keep you updated.

[2016-07-12 19:01] janpieterz commented on #136
Alsjeblieft :wink:
I'll probably be able to try and get something together myself tomorrow afternoon that replicates it!

Just a thought, it could be related to the fact that running dotnet restore doesn't work on command line (`Unable to resolve` all those custom libraries), while the restore from Visual Studio (which uses a restore.dg file) works, where the full paths towards the csproj are main

[2016-07-12 19:03] victorhurdugaci commented on #136
Ohhhh that might explain a lot. I don't think there was a lot of testing with xproj -> csproj reference and `dotnet watch`. I'll see what I find

[2016-07-13 12:32] janpieterz commented on #136
I got it replicated. Locally this commit shows exactly the same behavior as above.
https://github.com/janpieterz/DotnetWatchError/tree/6938fc2fb97a319ebcdc77fab7e17bd0e6ece96b

[2016-07-13 15:33] victorhurdugaci commented on #136
Indeed, it seems to be a problem with csproj files. We'll fix it

[2016-07-14 18:51] victorhurdugaci commented on #136
Pushed a PR to fix this. Unfortunately, `dotnet watch` will not support csproj. It will be able to run the application and restart when code files change in the xproj projects but the code in csproj will not trigger a restart.

[2016-07-15 11:47] WGroenestein opened #139 "dotnet watch stops to work when having a resource (resx) file in the project"
### Functional impact
Can't use dotnet watch, instead have to manual dotnet run on change

### Minimal repro steps
1. File => New Project => .NET Core => ASP.Net Core Web Application (.NET Core) => Web Application
2. Add folder "Resources"
3. Create new resource file in the create folder (e.g. Strings.resx)
4. Add dotnet watch (1.0.0-preview2-final) to tools in project.json
5. Run dotnet restore
6

[2016-07-15 17:28] #136 closed

[2016-07-15 17:37] victorhurdugaci commented on #139
Thanks for reporting this. I can reproduce it.
Expect a fix soon.

[2016-07-15 21:28] #139 closed

[2016-07-16 02:00] tysonnero opened #141 "Watch with Debugging"
I've tried to add a new command to my project.json as follow:
[code]
The command gets added to my Run profile dropdown, however, when I run Watcher Development, the usual dot net watch console output doesn't occur as opposed to when I run dotnet watch run completely from command line and my breakpoints no longer hit if i change code.

Any thoughts?

[2016-07-18 00:26] victorhurdugaci commented on #141
The `commands` section in `project.json` is `dnx` specific. `dotnet` doesn't support it. Because `dotnet watch` is for `dotnet`, mixing the two is not supported.

[2016-07-18 00:26] #141 closed

[2016-07-18 00:27] victorhurdugaci commented on #141
PS: if VS still understands it and you're running on the latest VS, it might be a bug in the tooling

[2016-07-18 20:54] tysonnero commented on #141
@victorhurdugaci Thanks for the heads up on that. Is there any way to run `dotnet watch run` from within VS with debugging?

[2016-07-18 21:02] victorhurdugaci commented on #141
It might be possible to do it from the NuGet console but I never tried that. Otherwise, you'll need an external console.

[2016-07-21 16:48] NotMyself opened #142 "Cannot specify a log level from the CLI"
I am attempting to write an interactive tutorial and want to use dotnet-watch. I would like to suppress the info messages printed out by the watch command so that only messages from my tutorial are displayed.

I have tried adding a logging.json file, but it doesn't seem to be respected. The log level in the Tools project appears to be [hard coded to info](https://github.com/aspnet/dotnet-watch/blo

[2016-07-21 17:46] zigzag95 opened #143 "Running watch with IIS Express"
Any idea how to use dotnet-watch with IIS Express.
I'm using Windows authentication and this is not compliant with Kestrel

[2016-07-22 00:51] NotMyself opened #144 "Color coded console output is not maintained"
I have a project that writes to the console with color coded text. When run with the watch command the color coding is stripped out.

Here is an example:
![screen shot 2016-07-21 at 5 48 25 pm](https://cloud.githubusercontent.com/assets/73120/17043459/acba0316-4f6b-11e6-93fe-14783afe6f4a.png)

[2016-07-22 00:58] NotMyself commented on #144
Looks like `Console.Clear()` is not respected either...

[2016-07-22 01:46] victorhurdugaci commented on #143
Unfortunately, that's not supported.

`dotnet watch` is not ASP.NET specific, therefore it has no knowledge about IIS Express or any other web technology. It simply launches `dotnet` with some arguments. To start IIS Express you'd need a `dotnet` command that does the appropriate setup and that should be called instead of `dotnet-run`

[2016-07-22 01:49] victorhurdugaci commented on #144
Known issue in `preview2` https://github.com/dotnet/cli/issues/1977 should be fixed in the latest CLI.

Please reopen if you can still reproduce with the latest dev bits.

cc @BrennanConroy

[2016-07-22 01:49] #144 closed

[2016-07-22 01:50] victorhurdugaci commented on #142
Agree, it would be a nice feature. It's a bit tricky to implement because we need a way to pass arguments to `dotnet watch`. Today, it just passes everything to `dotnet`. We'll definitely investigate this

[2016-07-22 01:52] victorhurdugaci commented on #143
Closing the issue because launching IIS should be done by a different tool, not the watcher itself... Maybe this should go in IISIntegration or something. What do you think @Tratcher @moozzyk ?

[2016-07-22 01:52] #143 closed

[2016-07-22 03:18] NotMyself commented on #142
It might be as simple as looking for a logging.json so it can be configured externally.

[2016-07-22 17:36] muratg commented on #142
Assigning to @victorhurdugaci for invesigation in 1.1.0.

[2016-07-22 20:13] pranavkm opened #145 "Port fixes to tests to rel/1.0.1 branch"
@victorhurdugaci made a change to (https://github.com/aspnet/dotnet-watch/commit/21b35259332877ef60730971a8d1a28b99e63475) to workaround a known flakiness in the file watcher. This issue seems to be cropping up very consistently on OSX when building the patch branch. The fix here would be to produce a rel/1.0.1 branch of https://github.com/aspnet/dotnet-watch based on 1.0.0 and backport this chang

[2016-07-22 20:39] Eilon commented on #145
Please send email to me and @DamianEdwards to discuss and approve.

[2016-07-22 20:39] Eilon commented on #145
Oh wait sorry. This was just the test thing.

[2016-07-22 20:40] Eilon commented on #145
Yeah let's create a branch for it. But keep all the versions 1.0.0. Just need the branch + test fix, no other changes as far as I know. No approval needed.

[2016-07-24 03:24] Tratcher commented on #143
Sounds like a VS tooling scenario. Or you could use WebListener instead.

[2016-07-26 17:55] dodyg opened #147 "No executable found matching command "dotnet-watch""
`dotnet watch` generates the following error "No executable found matching command "dotnet-watch""

`dotnet --version` 1.0.0-preview2-003121

project.json

[code]

program.cs

[code]

[2016-07-26 20:39] BrennanConroy commented on #147
I hope its `project.json` not `package.json`. Also, did you run `dotnet restore` first?

[2016-07-26 21:48] #145 closed

[2016-07-26 22:56] victorhurdugaci commented on #52
We haven't had the chance to implement this yet so I just wanted to give a workaround. One solution would be to wrap the call to dotnet-watch in a script and set the environment variable there.

[2016-07-27 08:35] dodyg commented on #147
It's ```project.json```. Yes, I did run ```dotnet restore```. I also deleted ```project.lock.json``` and rerun ```dotnet restore```.

- ```dotnet build``` works
- ```dotnet run``` works

I check ```project.lock.json``` and found this
[code]

So it looks fine.

[2016-07-27 09:04] dodyg commented on #147
I put the code here on [github](https://github.com/dodyg/practical-aspnetcore/tree/master/hello-world-with-reload). I run on Windows 10.

[2016-07-27 09:13] janpieterz commented on #136
@victorhurdugaci super, thanks! Is the not-monitoring csprojs going to change when .net core moves back to csproj? And is this going to land in the August release (https://blogs.msdn.microsoft.com/dotnet/2016/07/15/net-core-roadmap/)?

On a slightly different note, do tools like this (by the asp.net team) actually follow the normal release schedule, or could a release be cut whenever the tool itse

[2016-07-27 15:02] dodyg commented on #147
Damn, I fixed it by changing

[code]

to
[code]

I have no idea why ```1.0.0-*``` would not work.

So the final version is

[code]

[2016-07-27 16:13] muratg commented on #147
@dodyg glad you get it working!  Closing this one.

cc @rrelyea, @piotrpmsft re: dotnet restore question. Folks, it looks like tools restore requires exact versions. Is this by design?

[2016-07-27 17:08] rrelyea commented on #147
I was not able to reproduce the problem. both with a new project, or with your repo.
I ran "nuget locals -clear all" before testing each scenario.
This would be a bug, but I think there is another issue, or was mistakenly diagnosed. Would love to know.
@joelverhagen

[2016-07-27 17:13] joelverhagen commented on #147
@muratg, tools versions should NOT have to be exact. In fact, the version specified explicitly above (`1.0.0-preview2-final`) is actually interpreted as [a version range](http://nugettoolsdev.azurewebsites.net/3.5.0-beta2/parse-version-range?versionRange=1.0.0-preview2-final) in this context (both tools and dependencies). Additionally, both existing versions of that package on NuGet.org [should sa

[2016-07-28 09:45] dodyg commented on #147
It's a weird problem. Here's [a screen recording of it](http://webmshare.com/XGZba)

[2016-07-28 17:18] victorhurdugaci commented on #147
What NuGet feeds do you use?

[2016-07-28 17:26] muratg commented on #147
Opening this back to investigate the restore issues. It's not a dotnet-watch issue, but I'd like to get to the bottom of this.

@dodyg In addition to @victorhurdugaci's  question... what version of the package do you get when you restore when you have `*` in ther version? It looks like restore is succeeding so you're likely getting a package.

[2016-07-31 09:23] dodyg commented on #147
![nuget](https://cloud.githubusercontent.com/assets/1761249/17275701/3e4bf40e-5711-11e6-91ef-6dee3b745d49.png)

[2016-07-31 10:39] dodyg commented on #147
- I cleared the folder
- Ran ```dotnet restore```
- The package was correctly downloaded
- The command did not work

![downloaded](https://cloud.githubusercontent.com/assets/1761249/17276004/a5feaefc-571b-11e6-875f-fc295ab6d324.png)

[2016-08-01 19:02] joelverhagen commented on #147
@dodyg, I tried those steps with the same CLI version (`1.0.0-preview2-003121`) and sources. I also tried running the steps on a different drive than your `.nuget` folder (which seems to be the case for you). I could not reproduce the problem. Could you check the following:

### After restoring

(could you verify these steps for both `1.0.0-*` and `1.0.0-preview2-final`)

Does the `project.lock.js

[2016-08-01 19:10] piotrpMSFT commented on #147
Let's see if the file system & lock file are what we expect them to be. If so, and we're still seeing an issue, we can look into why the CLI is not finding the executable.

[2016-08-02 20:41] dodyg commented on #147
@joelverhagen
``` 1.0.0-* ```
[code]

``` 1.0.0-preview2-final ```
[code]

[2016-08-02 20:43] dodyg commented on #147
[code]

[2016-08-02 20:45] piotrpMSFT commented on #147
With the lock file above, does it succeed or fail?

[2016-08-02 20:50] dodyg commented on #147
When version is ``` 1.0.0-* ```, it fails. When version is ```1.0.0-preview2-final``` it works.

Here's a weird sequence

- ``` 1.0.0-* ```
- ```dotnet restore```
- ```dotnet watch``` fails
- change version to ```1.0.0-preview2-final```
- ```dotnet watch``` works

[2016-08-02 21:03] playmobilman commented on #147
Did not work for me, followed steps provided by @dodyg but it keeps me saying `No executable found matching command dotnet-watch`

[2016-08-02 21:26] brthor commented on #147
I'm also unable to repro this locally, using the repo @dodyg posted.
@dodyg @playmobilman

Can you post the output of `dotnet --info` ?

What installation mechanism did you use to acquire the cli?

[2016-08-02 21:38] playmobilman commented on #147
Silly me, I forgot to restore packages, now its working fine. :)

[2016-08-02 21:44] dodyg commented on #147
@brthor

[code]

I got them via https://www.microsoft.com/net/core#windows

[2016-08-06 05:34] aqibgatoo opened #148 "dotnet watch doesn't honour ASPNETCORE_ENIVRONMENT variable"
I am using

 on command line in windows to set the environment variable then if i run

 it still runs in production but if i simply do

it runs in Development mode.

[2016-08-06 08:52] victorhurdugaci commented on #148
Hi @aqibgatoo ,

I'm not able to reproduce the issue that you're mentioning. Are you running the two commands in the same console?

In my case the environment is set correctly both with `run` and `watch run`:

[code]

Also, are you setting the command the same way you posted (with a space between the variable name and `=`)? On Windows, you must not leave a space between tokens:

[code]

[2016-08-06 09:05] aqibgatoo commented on #148
hi @victorhurdugaci  i deleted the nuget cache and did a restore ...it ran fine after that but thanks for the info on tokens i always tried both... but actually didn't know about the space problem

[2016-08-06 09:05] #148 closed

[2016-08-11 18:24] tonysneed opened #149 "Updated for RTM?"
Has this been updated for RTM?  It seems to work with RC2 of the DotNet CLI SDK, but not with the current version (preview2).

[2016-08-12 05:51] irashid25 opened #150 "Auto refresh browser"
Hi all,

I'm using dotnet watch with my asp.net core MVC app and I have it working so that it automatically builds when I save a file. Is there a way to automatically refresh the browser so I can see the results without having to manually click F5?.

Thanks

[2016-08-12 06:34] victorhurdugaci commented on #150
Hi @irashid25,

There's no way to auto refresh the browser. `dotnet-watch` is not web specific, thus it doesn't know anything about the environment in which the app runs. We might consider extensions in the future, but right now there's no way to do that.

[2016-08-12 06:40] irashid25 commented on #150
Thanks for the quick reply victor.

I think I can get it done by using gulp and the visual studio task runner. I could set off a gulp task to reload the browser using browser sync etc after the project has been built.

Will try it tonight.

Thanks

[2016-08-12 16:02] #150 closed

[2016-08-13 05:56] dcworldwide opened #151 "How to configure vs code debugger to use dotnet watch?"
I want to run my application in debug mode, whilst using dotnet watch.

Is it posible? If so, is it as a matter of configuring my launch settings?

[code]

[2016-08-15 06:30] nickolasacosta commented on #149
make sure you dotnet restore before trying :)

[2016-08-15 07:12] tonysneed commented on #149
Actually, I discovered that the problem was that I did not have the correction version in the tools section of project.json.  It should be:

[code]

[2016-08-15 07:12] #149 closed

[2016-08-15 19:12] jsouthron opened #152 "dotnet-watch does not watch *.cshtml files"
It appears when running the below command that razor view files are not being watched.

`C:\solution_directory\ dotnet watch run `

Is this expected behavior, or am I doing something wrong on my side?  Also it appears in general that my solution requires a rebuild before razor files are updated in the browser.  This is supremely frustrating.
[code]

[2016-08-16 05:03] dougbu commented on #152
MVC internally watches the `*.cshtml` files referenced in a site and reloads them if they change. Don't need to restart the application for this.

If you are changing files and not seeing changes reflected in responses from the site, might be worth checking you're touching the files your app is viewing. That can be different from what you expect in some publish scenarios.

@BrennanConroy am I corr

[2016-08-16 08:01] victorhurdugaci commented on #152
`dotnet watch` watches code files, embedded resources, preprocessor files (legacy) and shared code files. View files are not in that list because, like @dougbu said, they're compiled by Razor and the process doesn't have to be restarted to reflect the changes.

[2016-08-16 14:52] jsouthron commented on #152
I suppose this is probably the wrong forum for this.  When I change razor files, the changes do not appear in the browser.  I know I am touching the same file, because there only is one file in the project.  This has been the case ever since I have been working with .netcore projects.  I assume I am just missing something fundamental here.

[2016-08-16 17:03] dougbu commented on #152
@jsouthron please file your issue in the MVC repo -- https://github.com/aspnet/Mvc I suggest describing how you're running the site and changing the files in the new issue.

Side note: `Areas/**/Views` in `"publishOptions": { "include": [ ... ] }` doesn't work correctly. Switch that to `**/*.cshtml`. I doubt this relates to the current issue but may help you later.

[2016-08-16 17:05] jsouthron commented on #152
Thanks Doug I opened it under http://github.com/aspnet/RavorTooling I will cross post at MVC.

[2016-08-16 17:37] muratg commented on #152
Thanks @jsouthron! Looks like dotnet watch behaves as expected in this case. Closing this one.

[2016-08-16 17:37] #152 closed

[2016-08-22 01:08] mikehaas763 commented on #147
I'm on mac and am having the exact same issue. However, specifying the version explicitly does not fix it for me

[2016-08-26 21:43] victorhurdugaci commented on #142
Hey @glennc, what do you think about this one?

[2016-08-27 05:29] breyed opened #154 "dotnet-watch crashes when packages not restored"
1. Add `"Microsoft.DotNet.Watcher.Tools": "1.0.0-preview2-final"` to `tools` in `project.json`.
2. Don't run `dotnet restore`.
3. Run `dotnet watch`.

This text appears followed by an APPCRASH event for `dotnet.exe`:

[code]

[2016-08-29 15:53] victorhurdugaci commented on #154
This is a dotnet CLI issue. It would happen with any tool, not just `dotnet-watch`. I suggest looking at the issues [here](https://github.com/dotnet/cli) if it was already reported.

[2016-08-29 15:53] #154 closed

[2016-08-29 16:33] breyed commented on #154
It looks like it's already reported as dotnet/cli#4034.

[2016-08-29 21:09] victorhurdugaci commented on #151
Not sure if this is possible, unfortunately. The problem is that dotnet-watch is one process and it launches a dotnet process. You need the debugger to attach to the dotnet proc but you can't get that process ID easily.

Maybe @troydai has an idea?

[2016-08-29 23:21] troydai commented on #151
I don't think this is feasible. If you configure the launch.json to start the dotnet watch, the debugger is attached to the "watch" process instead of the process dotnet watch starts. Unless my understanding of how dotnet watch operates wrong.

It is tricky here. The same issue happens to dotnet test as well. In that scenario, dotnet test process itself doesn't run test. It starts another process

[2016-08-29 23:36] victorhurdugaci commented on #151
Yeah, we'd probably have to drop a pid file or something similar to let VS code know about the actual process id. VS Code would have to understand that file though (and watch it?)

[2016-08-30 03:22] troydai commented on #151
In the case of __dotnet test__ it works because of the [protocol](https://github.com/dotnet/cli/blob/rel/1.0.0-preview2/Documentation/dotnet-test-protocol.md) it defines. The protocol allows omnisharp to communicate with dotnet cli to generate the actual start command. VS code API allows extensions to build launch configuration programmatically. So maybe this can be a feature for [OmniSharp](https

[2016-08-30 06:15] glennc commented on #142
hmmm. What are examples of the output that you want to suppress? Is it all output from watch?

I am thinking a switch passed to watch to stop it from logging anything. `-[q]uite`

[2016-08-30 16:28] victorhurdugaci commented on #151
So omnisharp would need a generic protocol that any tool can implement?

[2016-08-30 21:56] victorhurdugaci commented on #142
Talked to @glennc offline. We'll make this configurable through and environment variable, just like we do for enabling the polling watcher.

[2016-08-30 22:22] NotMyself commented on #142
Here is an example from the [DotNetCoreKoans](https://github.com/NotMyself/DotNetCoreKoans) project. The project is a teaching tool where the student is instructed to open the project in a text editor and then run `dotnet watch run` in their console. The student then changes code in a set of unit tests learning about the C# language. The output of the application guides them  through each tutorial

[2016-08-30 23:24] muratg commented on #142
Would we be still displaying errors in "quiet" mode, and just be silent otherwise? Or completely silent?

[2016-08-30 23:34] victorhurdugaci commented on #142
The value you set in the env var will be the value from the LogLevel enum. If you set it to `none` nothing will be displayed while if you set it to `error` only error (and above) will be displayed. So, it's not a "quiet mode"

[2016-08-31 04:35] troydai commented on #151
no, dotnet watch need a protocol so that omnisharp can be aware of either 1) what's that start command  therefore ask debugger to start the process; or 2) what's the eventual process ID for each newly started process.

[2016-08-31 22:42] #142 closed

[2016-08-31 22:42] victorhurdugaci commented on #142
Hey @NotMyself , I added a new flag to allow you to turn off the log messages. See the updated readme for usage.

[2016-09-01 16:55] natemcmaster opened #156 "Support MSBuild v15.0"
project.json and Microsoft.DotNet.ProjectModel are being retired in favor of xplat MSBuild. dotnet-watch should update to support the new project system for dotnet-cli.

Open questions

 - How should we interpret the project system to discover files to watch? Two options:
    1. Make dotnet-watch an msbuild task
    2. Host MSBuild and execute a design-time build to discover items and properties

[2016-09-01 16:58] natemcmaster opened #157 "Add DotnetCliTool package type to nuspec"
cref http://docs.nuget.org/create/package-types

[2016-09-01 17:29] natemcmaster commented on #128
This is due to a bug in how dotnet-cli forwards stdout/stdin streams. This was fixed in https://github.com/dotnet/cli/pull/3808, which should be in the next release of dotnet-cli. I tested the problem is resolved in one of the latest nightlies, 1.0.0-preview3-003546.

Closing as the issue is external to dotnet-watch.

[2016-09-01 17:29] #128 closed

[2016-09-01 17:36] victorhurdugaci commented on #156
A note on "Make dotnet-watch an msbuild task": this might or might not work depending on what msbuild does. If dotnet-watch is running as part of msbuild, then msbuild might lock the project file. That means that you'll not be able to update it.

[2016-09-06 22:39] gabrielrobert opened #160 "dotnet watch -> FileNotFoundException"
Is there any dependencies (like `Microsoft.DotNet.ProjectModel`) I need to install to use dotnet-watch?

I can't run any dotnet-watch command:

[code]

[code]

[code]

Thank you.

[2016-09-06 22:41] BrennanConroy commented on #160
Did you do a successful `dotnet restore` before trying to use the watcher?

[2016-09-06 22:45] gabrielrobert commented on #160
Every time I compile, I use this simple but effective command:

`rimraf project.lock.json & dotnet restore & dotnet watch run`

Which result in:

[code]

[2016-09-06 23:10] victorhurdugaci commented on #160
Use `1.0.0-preview2-final` for the dotnet watch version. That's a problem already being investigated: https://github.com/aspnet/dotnet-watch/issues/147

[2016-09-07 12:24] gabrielrobert commented on #160
@victorhurdugaci Still having the same problem after using `rimraf project.lock.json & dotnet restore & dotnet watch run`. Could it be environment problem?

[code]

[2016-09-07 16:39] victorhurdugaci commented on #160
Try deleting the `%userprofile%\.nuget` and `%localappdata%\NuGet\v3-cache` folders, then restore again. If that doesn't solve the problem, let me know.

[2016-09-08 00:06] gabrielrobert commented on #160
@victorhurdugaci Still got the same problem. I also removed any .CORE references from "Add/Remove program" and reinstalled it from here: https://www.microsoft.com/net/core#windows

`rimraf %userprofile%\.nuget & rimraf %localappdata%\NuGet\v3-cache & rimraf project.lock.json & dotnet restore & dotnet watch run`

![image](https://cloud.githubusercontent.com/assets/5783827/18332620/206f4e70-7536-11e

[2016-09-08 00:10] gabrielrobert commented on #160
[code]

[2016-09-08 00:16] #160 closed

[2016-09-08 16:44] muratg opened #161 "Msbuildify tools"
### Microsoft.DotNet.Watcher.Tools
- Expect to run independently, via the CLI
- Project “inputs”: Source files, resource files, etc.
- Needs to know the literal globs so it can identify folders to watch
- P2P graph
### Microsoft.Extensions.SecretManager.Tools

Expect to run independently, via the CLI
userSecretId is in MSBuild or a config file, generated a config file in output or assembly attribu

[2016-09-08 17:58] natemcmaster commented on #156
Closing as dup of #161

[2016-09-08 17:58] #156 closed

[2016-09-08 17:58] natemcmaster commented on #161
From #156
-----------
project.json and Microsoft.DotNet.ProjectModel are being retired in favor of xplat MSBuild. dotnet-watch should update to support the new project system for dotnet-cli.

Open questions

 - How should we interpret the project system to discover files to watch? Two options:
    1. Make dotnet-watch an msbuild task
    2. Host MSBuild and execute a design-time build to discover

[2016-09-12 13:28] perokvist commented on #160
Just removing all versions of %userprofile%\.nuget\packages\.tools\Microsoft.DotNet.Watcher.Tools\ and restore worked for me. Had both preview 1 and 2.

[2016-09-17 14:24] dknaack commented on #139
Still having this problem.

[code]

Any ideas?

[2016-09-17 17:15] victorhurdugaci commented on #139
The fix is in `1.1.0`. Unfortunately, `1.0.0` will always have that problem.

[2016-09-17 17:15] victorhurdugaci commented on #139
cc @natemcmaster

[2016-09-17 17:27] dknaack commented on #139
Thanks! I suggest updating the readme. ;)

[2016-09-19 01:35] shanselman commented on #147
I'm seeing this also on 1.0.1. I can't get dotnet-watch to work at all. Something is wrong.

[2016-09-19 11:37] dknaack commented on #139
This isn't yet available on NuGet, right?

[2016-09-19 15:22] victorhurdugaci commented on #139
It's on the nightly feed (myget/aspnetvnext)

[2016-09-19 18:52] natemcmaster opened #165 "Remove workaround for aspnet/Configuration#478"
_From @natemcmaster on September 12, 2016 17:49_

When we upgrade dotnet-user-secrets to 1.1.0 runtime, we can remove the workaround for aspnet/Configuration#478 which was added in https://github.com/aspnet/UserSecrets/pull/101.

_Copied from original issue: aspnet/UserSecrets#102_

[2016-09-20 07:34] dknaack commented on #139
I am really sorry but I can't find the right feed. Could you please post the feed URL on where I can find dotnet watch 1.1.0.

[2016-09-20 07:39] natemcmaster commented on #139
The latest versions are `1.0.0-preview3-*`, not `1.1.0-*`. The feeds are explained in https://github.com/aspnet/Home/wiki/NuGet-feeds.

[2016-09-20 16:09] natemcmaster opened #166 "Add user-secret init command"
_From @Tratcher on December 10, 2015 18:37_

When you try to use user-secret on a new project it fails with:
`critical: Command failed : Missing 'userSecretsId' in 'C:\git\Universe\Security\samples\JwtBearerSample\project.json'`

There should be an `init` command to generate the userSecretsId in the project.json.

_Copied from original issue: aspnet/UserSecrets#53_

[2016-09-20 16:39] natemcmaster opened #167 "Using user secrets with dotnet cli requires publishing the project.json file"
_From @Tratcher on February 16, 2016 20:34_

It needs to read `userSecretsId` from the project.json. We should find a different way to publish this value.

[code]

_Copied from original issue: aspnet/UserSecrets#62_

[2016-09-20 16:39] natemcmaster commented on #167
_From @muratg on February 29, 2016 22:1_

Ugh, interesting. Yeah, we don't want to project.json be there just for userSecretsId...

@anurse @davidfowl any idea where we can store this for published applications?

[2016-09-20 16:39] natemcmaster commented on #167
_From @anurse on February 29, 2016 23:20_

`config.json`? That is going to be a tricky one...

[2016-09-20 16:39] natemcmaster commented on #167
_From @muratg on March 16, 2016 17:7_

Let's look into some options in the next milestone.

[2016-09-20 16:39] natemcmaster commented on #167
_From @Bartmax on April 6, 2016 23:48_

I'm currently hitting this *bug*. Is there any workaround ? this is a RC2 web app and running dotnet run. If i remove UserSecrets it works as expected.

[code]

[2016-09-20 16:39] natemcmaster commented on #167
_From @muratg on April 7, 2016 3:10_

@Bartmax You can move project.json file manually to publish folder (or write a script to to this each time you build.)

[2016-09-20 16:39] natemcmaster commented on #167
_From @Tratcher on April 7, 2016 3:23_

It worked if I added project.json to the content section of project.json so it gets published.

[2016-09-20 16:39] natemcmaster commented on #167
_From @Bartmax on April 7, 2016 13:41_

one issue i find moving the file is that next restore will try to restore the bin folder.
this have the side effect of having more log/errors/warning when `dotnet restore`.
not sure if it breaks anything. just wanted to let you know.

first lines of dotnet restore, with and without project.json copied over.
[code]

[2016-09-20 16:39] natemcmaster commented on #167
_From @muratg on April 7, 2016 15:39_

@Bartmax Yeah, that's unfortunately the case. I guess you can remove it before restore in your build script, and copy over after publish.

[2016-09-20 16:39] natemcmaster commented on #167
_From @glennc on May 9, 2016 22:16_

To be clear. Are people trying to use UserSecrets in production?

[2016-09-20 16:39] natemcmaster commented on #167
_From @muratg on May 9, 2016 22:22_

@glennc That's not supported. The scenario here is you're testing a published app on a dev box.

[2016-09-20 16:39] natemcmaster commented on #167
_From @Tratcher on May 9, 2016 22:26_

Or they're running in a staging environment and hit an error they want to debug. They enable Development to turn on the DeveloperExceptionPage, and also end up with UserSecrets being turned on.
https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Startup.cs#L65
https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/Indiv

[2016-09-20 16:39] natemcmaster commented on #167
_From @glennc on May 10, 2016 2:58_

Yeah, I understand the issue when you want to turn on debug on the server to get some errors. It makes me think this whole setup isn't quite right. IsDevelopment has too many things hanging off it.

[2016-09-20 16:39] natemcmaster commented on #167
_From @muratg on May 10, 2016 5:0_

@glennc I agree. Let's talk about this. Perhaps making things more granular makes sense.

[2016-09-20 16:39] natemcmaster commented on #167
_From @Zoltu on May 31, 2016 6:43_

I just spent about 4 hours troubleshooting my deploy to find out that in production (Azure App Service) I can't call `.AddUserSecrets()`.

I believe that the `AddUserSecrets()` extension method should *at least* be made more resilient to working under adverse conditions, such as a `project.json` file not being available in the expected location.  Not only was th

[2016-09-20 16:39] natemcmaster commented on #167
_From @Zoltu on May 31, 2016 6:48_

Workaround: Create the following extension method and use it instead of the built-in one:
[code]

This doesn't solve the problem of running `Development` environment in something like staging, just allows you to have a slightly simplified configuration setup.

[2016-09-20 16:39] natemcmaster commented on #167
Another related issue: https://github.com/aspnet/EntityFramework/issues/5726

[2016-09-20 16:39] natemcmaster commented on #167
_From @lcalabrese on July 15, 2016 8:45_

If you are using the Development environment to test but do not need user secrets, you can use a workaround to test for project.json:

    public Startup(IHostingEnvironment env)
    {
        var builder = new ConfigurationBuilder()
            .SetBasePath(env.ContentRootPath)
            .AddJsonFile("appsettings.json", optional: true, reloadOnChange: t

[2016-09-20 16:39] natemcmaster commented on #167
_From @asteffes on September 14, 2016 19:46_

Does this error persist if you supply the UserSecretsId as a parameter to builder.AddUserSecrets("userSecretsId") extension method?

EDIT: I was able to recreate this bug using a "dotnet publish" command without including the project.json in the outputs and running the application.

Passing the UserSecretsId as a parameter to AddUserSecrets() method ge

[2016-09-20 16:41] natemcmaster opened #168 "Make tool more friendly in usage from other tooling."
_From @phenning on August 24, 2016 20:9_

For example, in order to display a grid, you would need to parse out the info: output from the results of dotnet user-secrets list. Ideally, this should just be a --json or similar switch which would just output the secrets as json.

Similarly, it would also be good to be able to pass in json via the set command, bonus if nested json could be passed in her

[2016-09-20 16:42] natemcmaster opened #169 "Store UserSecretsId in MSBuild project file instead of project.json"
_From @muratg on August 24, 2016 22:43_

Slightly related #62.

Since project.json is going away, we'll need to resolve this soon.

@glennc @davidfowl @natemcmaster @Tratcher

_Copied from original issue: aspnet/UserSecrets#96_

[2016-09-20 16:42] natemcmaster commented on #169
Just brainstorming: here are some options

 - A special purpose setting file,`usersecrets.json`, in project root. Works the same as project.json does today. Ms.Ext.Config.UserSecrets [extends the build target](https://docs.nuget.org/create/creating-and-publishing-a-package#import-msbuild-targets-and-props-files-into-project) to ensure the file is copied to build folder.
 - A general setting file,

[2016-09-20 16:42] natemcmaster commented on #169
_From @glennc on August 30, 2016 6:4_

msbuild seems the best option here. But why does there need to be a special file generated? Why can there not be a config source that reads from a csproj?

It is just data in the csproj.

[2016-09-20 16:42] natemcmaster commented on #169
_From @Tratcher on August 30, 2016 14:14_

The csproj isn't published

[2016-09-20 16:42] natemcmaster commented on #169
IMO keeping the id in a simple file such as `usersecrets.json` or `.usersecretrc` is the better option. Adding as a property in MSBuild is going to be more complicated and have little benefit

[2016-09-20 16:42] natemcmaster commented on #169
_From @davidfowl on August 30, 2016 16:44_

What about `appsettings.json` and we pass the filename into the `AddUserSecrets`. It's a bit of a breaking change though but it seems like a cleaner approach

[2016-09-20 16:42] natemcmaster commented on #169
Did a quick spike: here's what something like `usersecrets.json` would look like https://github.com/aspnet/UserSecrets/compare/namc/usersecrets.json.

I'm guessing some may complain "why the extra file in my project?". If users care, we could overload `AddUserSecrets` to allow specifying a path to `appsettings.json` or something else.

[2016-09-20 16:42] natemcmaster commented on #169
Design from in-person discussion with @glennc and @davidfowl:

1. The value of userSecretId can be in any json file. Templates and tools will default to a file named `appsettings.json`. Users could configure it to 'project.json' if they still want

[code]

1. `[assembly: UserSecretIdentifierFileNameAttribute("appsettings.json")]` will be generated during build using a task imported from the `Micro

[2016-09-20 16:42] natemcmaster commented on #169
_From @muratg on September 13, 2016 17:31_

Will the attribute be a top-level attribute in the Json file (as it is today?)

[2016-09-20 16:42] natemcmaster commented on #169
Yes. The JSON part of this doesn't change much. We are just going to remove the strict requirement that the JSON file be named project.json. (See #103)

[2016-09-20 16:42] natemcmaster opened #170 "`dotnet user-secrets {command} --project {path}` does not support relative paths"
_From @dougbu on May 12, 2016 17:13_

1. It isn't clear why we need the `--project` option at all. The `dotnet user-secrets` command must be executed in a project directory with `Microsoft.Extensions.SecretManager.Tools` fully configured.
2. If this option is needed, it should support relative paths. That would at least be useful in corner cases where user secrets are used in a group of projects b

[2016-09-20 16:43] natemcmaster opened #171 "Improve `dotnet user-secrets {command} --project {path}` error messages"
_From @dougbu on May 12, 2016 17:16_

The error message displayed when `{path}` is invalid is not descriptive and references an argument rather than the command-line option.

For example,
[code]
Results in
[code]

Note the parameter name mentioned above is inconsistent w/ the in #77. It's the same command-line option and the parameter should also be the same.

_Copied from original issue: aspnet/U

[2016-09-20 16:43] natemcmaster commented on #171
_From @muratg on May 26, 2016 6:18_

Fit & finish bug. Moving to 1.0.1 for now.

[2016-09-20 16:51] natemcmaster opened #172 "UserSecrets in local IIS"
_From @Tratcher on June 18, 2015 21:34_

It's very common for developers to use full IIS locally on their dev machines because it more closely resembles a real server than IIS Express.  However, IIS runs as a different user so it won't pick up the user secrets configured with an application. This is similar to how environment variables need to be set machine wide rather than for for a specific use

[2016-09-20 16:51] natemcmaster commented on #172
_From @tuespetre on September 3, 2015 16:27_

Our org is considering this issue as we currently check secrets into source, albeit in an on-premise TFS instance. Some various thoughts on the matter:

- IIS 10 will support configuration of environment variables for application pools, but it will only be available in Windows Server 2016, which may be out a year or more from now
- We have found that w

[2016-09-20 21:31] #170 closed

[2016-09-20 21:31] #171 closed

[2016-09-21 16:32] sayedihashimi commented on #161
@natemcmaster any progress here? We depend on this feature in VS Templates. Minimally we need to know the file location where the tool will be looking for the secrets.

[2016-09-21 16:34] natemcmaster commented on #161
We are still waiting on design decisions from MSBuild before we proceed, but if this is blocking you let's talk more in detail. I may be able to provide enough concrete details to unblock you.

[2016-09-21 16:37] sayedihashimi commented on #161
@natemcmaster thanks. Please chat with @abpiskunov or @mlorbetske.

[2016-09-21 18:06] Tratcher opened #175 "Publish-IIS needs an option to exclude the handlers add section for child sites"
[Summarized from a customer]

I want to expose the sites
http://www.localdev.com/
http://www.localdev.com/app1
http://www.localdev.com/app2

the root web site, site1 and site2 are all separate asp.net core projects with their own solution (.sln) files and publish settings.

Navigate to http://www.localdev.com works and the root site renders the page

Navigate to http://www.localdev.com/site1 fails

[2016-09-21 18:13] moozzyk commented on #175
Publish-iis was for simple scenarios. For more complicated scenarios - isn't it just better to have a custom web.config in the repo and use this?

[2016-09-21 18:28] mikedice commented on #175
I wouldn't exactly consider that URL configuration I mentioned above to be complicated (not simple) :)
Either way though yea being able to check in a web.config that didn't change would be an OK solution as long as it worked. But, it doesn't. If I comment out the handlers section from the checked in web.config the publish just puts it back in. So, publish would have to not over-write my checked in

[2016-09-21 18:36] moozzyk commented on #175
The idea is that if you have your own web.config in the repo then you just remove the publish-iis from your project.json entirely (i.e. remove the command from postpublish script and also the package from the Tools section).
The reason I am not very fond of the additional parameter is that there is not a good way to pass it to publish-iis. `dotnet publish` does not pass any arguments it did not co

[2016-09-21 19:01] Tratcher commented on #175
But then you need two web.config's, one for IIS Express / dev and one for publish.

[2016-09-21 20:19] mikedice commented on #175
Spent some time trying to figure out how to do an environment specific override such that for debug on the dev machine we just publish the checked in web.config but I don't see a way to do that. Let me know if anyone has any ideas. I think the web.config transform process is no longer supported in asp.net core or I would have just used that.

[2016-09-21 21:35] nil4 commented on #175
@mikedice you can have [transforms with asp.net core](https://github.com/nil4/dotnet-transform-xdt) if you don't mind an unofficial solution. It looks like there are plans for an [eventual official port as well](https://github.com/aspnet/Tooling/issues/780).

[2016-09-22 16:22] moozzyk commented on #175
@Tratcher - don't you need two configs as soon as you start using features not supported by IISExpress?

@mikedice - one way to do this is to have the web.config used for production copied in the postpublish step (i.e. instead of using the publish-iis tool just copy the web.config you want to use in production to the target publish folder).

[2016-09-22 16:41] muratg commented on #167
Closing this, we can track the work here: https://github.com/aspnet/DotNetTools/issues/169

[2016-09-22 16:41] #167 closed

[2016-09-22 17:38] Tratcher commented on #175
VS doesn't publish for IIS Express, it uses the web.config in place with environment variables. You'd need the handlers section for express and then an option to exclude it during publish.

[2016-09-23 17:31] muratg commented on #175
Backlogging this for now. Tools are under churn due to msbuild work. This tool in particular will likely be an msbuild target.

[2016-09-23 21:38] natemcmaster commented on #161
Some progress from MSBuild: https://github.com/Microsoft/msbuild/pull/1080. This will help us as we build tools that need to perform project evaluation.

[2016-09-26 15:58] jasselin opened #176 "Disable dotnet watch within Visual Studio"
Could you provide a way to disable dotnet watch when using Visual Studio?

I have a case where I don't want to rebuild a project when changing any cs files.

Thanks

[2016-09-26 16:33] victorhurdugaci commented on #176
`dotnet watch` is not enabled in VS. Actually, VS doesn't know at all about `watch`

[2016-09-26 17:15] jasselin commented on #176
I tought the feature that rebuilds the solution when hitting F5 was dotnet watch.
Do you know any way to disable it? Should I ask the Visual Studio tooling folks?

[2016-09-26 17:18] victorhurdugaci commented on #176
Nope, that's not `watch`. @troydai or @BillHiebert might know if disabling that is possible. I think it comes from the DTH

[2016-09-26 22:49] muratg commented on #176
This issue was moved to aspnet/Tooling#793

[2016-09-26 22:49] #176 closed

[2016-09-28 22:32] natemcmaster opened #179 "Remove custom packaging logic"
Revert https://github.com/aspnet/DotNetTools/pull/174 when dotnet-cli supports package types.

[2016-09-30 21:52] #157 closed

[2016-10-01 19:10] geocine commented on #147
not working on 1.0.1

[2016-10-04 18:13] natemcmaster commented on #161
Blocked by https://github.com/dotnet/cli/issues/4213

[2016-10-05 23:03] natemcmaster opened #182 "Remove DotNetCoreSdkResolver"
Current tool prototypes use the existence of MSBuild inside the .NET Core SDK to do project evaluation. We did this to unblock our prototype development, but this API is fragile and not a good long-term solution.

Opening this to track work towards a long-term solution.

Possible solutions:
 - MSBuild support for https://github.com/Microsoft/msbuild/issues/1097 (preferred)
 - Add API to CLI utils

[2016-10-06 18:20] NTaylorMullen opened #183 "Add support for multiple MSBuild target frameworks."
I'm not fully aware of the status of MSBuild supporting multiple target frameworks but it's something we'll need to make our ProjectModel aware of.

/cc @natemcmaster

[2016-10-06 18:25] natemcmaster commented on #183
Multi TFM support is in the nightlies. For multi TFM, a csproj includes a property `<TargetFrameworks>netstandard1.3;net451</TargetFrameworks>`. For single TFM  its `<TargetFramework>netstandard1.3</TargetFramework>`.  We probably just need to update the MsBuildProjectContext to read this property.

[2016-10-06 18:26] natemcmaster commented on #183
See https://github.com/dotnet/cli/blob/28bd507f40cf522353a3bb20d9193ecb321ee8dc/src/dotnet/commands/dotnet-new/CSharp_MSBuild/%24projectName%24.csproj#L6 for example.

[2016-10-06 20:38] #165 closed

[2016-10-07 13:41] saikatguha opened #186 "[dotnet-watcher] Need for DOTNET_WATCHER_EXIT_ON_CHANGE or equivalent"
I have multiple dotnet projects that are composed together by running in parallel.
They share common library code.

When any change is made to the library, all the watchers attempt to recompile. Due to contention some of the re-compiles fail. `dotnet watch` assumes the compilation failure is fatal (which it is not) and goes back to watching for more changes. When something changes, all the watcher

[2016-10-12 20:52] natemcmaster opened #193 "dotnet-watch tests not guaranteed to test the version of dotnet-watch in the source"
dotnet-watch functional tests run a package restore to put the tool into the test projects. In some cases, this means the tool being tested is not actually the version of the tool that was built during the test run. When running on a local box, this will often test the latest version on our nightly feeds, not the version I'm actually working on.

[2016-10-12 23:12] #193 closed

[2016-10-13 23:34] natemcmaster commented on #142
In #197, we added `--verbose` and `--quiet` options to dotnet-watch.

We also removed the env variable added in #155. It's worth noting that #197 also added support for the [global dotnet-cli verbose flag](https://github.com/dotnet/cli/blob/v1.0.0-preview2/src/Microsoft.DotNet.Cli.Utils/CommandContext.cs#L13) (usage `dotnet --verbose watch`) which can also be set via the env variable `DOTNET_CLI_C

[2016-10-14 12:31] qbikez commented on #139
`Microsoft.DotNet.Watcher.Tools.1.0.0-preview3-22398` depends on `Microsoft.NETCore.App.1.1.0-preview1-001100-00`.  It seems to install it into *packages* dir, but then when running `dotnet watch run`, I get:

- Check application dependencies and target a framework version installed at:
- Alternatively, install the framework version '1.1.0-preview1-001100-00'.

How can I obtain this newer versions

[2016-10-14 15:44] hlubovac opened #198 "Should there be Microsoft.Extensions.SecretManager.Tools package for older versions of .NET?"
I realize the development of this is still in works, but I hope there will be matching package for older versions of .NET integrated into the dotnetcore template/setup (project.json > frameworks) - because the current one definitely does not pass the nuget-restore step.

Thanks.

[2016-10-14 16:49] natemcmaster commented on #139
@qbikez prerelease builds require a prerelease installation of the shared framework, which goes in %DOTNET_HOME/shared/Microsoft.NETCore.App directory. Installation of the nupkg isn't enough. Yes, this is confusing, and yes it is hard to get the 1.1.0 runtime preview right now. Slightly intentional as there are some big changes pending. To get the 1.1.0 shared fx, use the args: `dotnet-install.ps1

[2016-10-14 16:51] hlubovac commented on #169
Before I decided to finally ask the question that follows, I looked at the source code to find references to what you're talking about. The problem that I'm trying to solve for myself is storing the userSecretsIs outside of project.json, preferably totally abstracted away from the SecretManager.Tools package, so that it's [alternatively to its known locations] delivered to the tool via CLI argumen

[2016-10-14 16:56] natemcmaster commented on #169
@hlubovac This is a WIP. I've added `--id <ID>` to the CLI tool in the feature/msbuild branch. (see https://github.com/aspnet/DotNetTools/blob/27fc53ea16404820bb039fbaaca5f847c8819a31/src/Microsoft.Extensions.SecretManager.Tools/Internal/CommandLineOptions.cs#L42-L45). UserSecretIdentifierFileNameAttribute was never implemented. We decided to go with the plan in my most recent comment: https://git

[2016-10-14 16:59] hlubovac commented on #169
Thanks. Do you think it'll be long before that change makes it to master/nuget?

[2016-10-14 17:02] natemcmaster commented on #169
I don't have a date. We're waiting on dotnet/cli 's MSBuild to stabilize. But, '--id' would be easy enough to add to the version on dev branch that I'd happily take a PR to added it now if it'll unblock you.

[2016-10-14 17:04] hlubovac commented on #169
No, it's fine; I can wait. I'm experimenting anyway, with no particular plan in mind. I don't want to distract you from your current goal. Thank you, though.

[2016-10-14 17:10] hlubovac commented on #169
A hack, as an alternative solution to storing this value in a separate file:
1. create a subdirectory within your project (e.g. "blah")
2. create blah\project.json file; add userSecretsId value to it using established format
3. This and similar should then work:
dotnet user-secrets list --project "[full-path-to]\aspnetcoreapp\blah"

[2016-10-14 17:13] natemcmaster commented on #198
The tool should be installed in the "tools" section of project.json. This should be independent of the frameworks you are using in your project. If you're trying to install via NuGet CLI or GUI, it's probably being put in "dependencies", which is https://github.com/aspnet/DotNetTools/issues/157 and will be resolved in the next release.

[2016-10-14 19:49] hlubovac commented on #198
I tried that, and it fails. What could I be missing? Here's what I think is relevant:

This. in `Tools` section: `"Microsoft.Extensions.SecretManager.Tools": "1.0.0-preview2-final"` results in this error [dotnet/nuget restore]:

"Package Microsoft.Extensions.SecretManager.Tools 1.0.0-preview2-final is not compatible with net461 (.NETFramework,Version=v4.6.1). Package Microsoft.Extensions.SecretMan

[2016-10-14 19:51] hlubovac commented on #198
Thank you!

[2016-10-14 21:15] #198 closed

[2016-10-15 04:24] qbikez commented on #139
@natemcmaster thanks, that's what I was looking for.

[2016-10-17 14:41] muratg commented on #168
@glennc @Eilon do we want to take this in 1.1? @natemcmaster already has a PR which I started reviewing...

[2016-10-17 16:38] natemcmaster commented on #182
CLI will be adding an environment variable pointing to the location of MSBuild. When this becomes available, we should be able to remove the SDK resolver.

[2016-10-17 16:41] jeffkl commented on #182
FYI @AndyGerlicher and @rainersigwald

[2016-10-17 17:48] Eilon commented on #168
Rendering as JSON would be nice, I guess, though I don't see why it's a high priority. Taking in JSON in the command line seems odd - what's the scenario for that?

[2016-10-17 17:53] natemcmaster commented on #168
Consider this a "delighter feature". JSON rendering was a trivial addition. The reading JSON part is more involved, but I built it for myself cause I was tired of manually setting secrets one by one. This makes it easy to quickly add many secrets using the CLI tool without manually writing to the secrets.json file in %LOCALAPPDATA%.

@phenning made a similar request in aspnet/UserSecrets#95 :

[2016-10-18 16:45] #182 closed

[2016-10-18 17:20] aleksasavic3 commented on #147
I fixed it by moving the `"Microsoft.Dotnet.Watcher.Tools/1.0.0-preview2-final"` from `dependencies` to `tools` in project.json. It looks like NuGet is putting it under `dependencies`.

[2016-10-18 20:53] hishamco opened #203 "Support Localization Resource Generation & Translation"
Last few days I started a new `dotnet` CLI tool to generate and translate localization resources called `dotnet resgen` this is the link to my repo https://github.com/hishamco/LocalizationResourceGenerator, it would be nice to support such utility tool during the development phase on all the localization web applications.
FYI the tool is under development, and may it needs a lot of improvements by

[2016-10-18 22:48] natemcmaster opened #204 "Create a version of dotnet-watch that is independent of build system in use"
**Background**
dotnet-watch is currently depends on the project.json (PJ) to decide which files to watch. With the deprecation of PJ, we lose the ability to easily interpret a project model and identify which files to watch. The .NET SDK for MSBuild doesn't have an API to enhance dotnet-watch to understand this system without being a part of it.

Instead of enhancing dotnet-watch to understand thi

[2016-10-18 22:48] natemcmaster commented on #204
cc @glennc @muratg @davidfowl

[2016-10-19 15:02] muratg commented on #204
cc @DamianEdwards

[2016-10-19 23:03] cesarbs opened #205 "dotnet-watch: show example usages in help message"
Current message:

`Usage: dotnet watch [options] [[--] <arg>...]`

Should be

`Usage: dotnet watch COMMAND [options] [[--] <arg>...]`

Command being `run`, `test` i.e. a `dotnet` command.

[2016-10-19 23:32] natemcmaster commented on #205
*Technically, the current message is accurate, but I'm guessing you (and others) won't realize that `[[--] <arg>...]` means "put run/test/etc here". Probably could be helped by adding an example to the help message.

[2016-10-20 16:55] cesarbs commented on #205
I don't really get that from `[[--] <arg>...]`. That part of the usage message is saying "if you want to pass args to the command being watched, use `--` followed by the command's args.

[2016-10-20 16:59] natemcmaster commented on #205
The command goes after the (optional) `--` separator. Examples of correct usage:
`dotnet watch run arg1 arg2`
`dotnet watch -- run arg1 arg2`
`dotnet watch -- test -class A.B.Test`.

FWIW, it's matches what the CLI does:

![image](https://cloud.githubusercontent.com/assets/2696087/19569795/de6d32c0-96ab-11e6-9101-3f8379fd4f32.png)

But I think this is a good ask: the default help message isn't sup

[2016-10-20 17:04] cesarbs commented on #205
That's not what's documented here: https://github.com/aspnet/DotNetTools/tree/dev/src/Microsoft.DotNet.Watcher.Tools

[2016-10-20 17:10] natemcmaster commented on #205
I don't see the difference. Let's talk in person.

[2016-10-25 15:34] spockmonster commented on #147
I am trying to work through the MVA "Intro to ASP.Net Core" with Scott Hanselman, and the first lesson includes using dotnet watch.  However for me dotnet watch fails silently, "dotnet watch -?" executes and terminates with no output.

I've tried several permutations of configuration in project.json, such as:
"tools": {
      "Microsoft.DotNet.Watcher.Tools": "1.0.0-*"
    }
which intalls "preview

[2016-10-26 20:25] Headspin opened #207 "User secrets not working on .net core 1.0"
When trying to run user-secrets tool I get the following error.

The specified framework 'Microsoft.NETCore.App', version '1.1.0-preview1-001100-00' was not found.
  - Check application dependencies and target a framework version installed at:
      C:\Program Files\dotnet\shared\Microsoft.NETCore.App
  - The following versions are installed:
      1.0.1
  - Alternatively, install the framework ve

[2016-10-26 20:34] moozzyk commented on #207
Then you need to change the version of the package. Right now because you are using * in the version it floats to the latest 1.0.0 which is 1.0.0-preview3-final which targets 1.1.0. Specify the version as "1.0.0-preview2-final" to not to float to 1.1.

[2016-10-26 21:27] natemcmaster commented on #207
The preview3-final version requires installing .NET Core 1.1 preview 1. (See https://blogs.msdn.microsoft.com/dotnet/2016/10/25/announcing-net-core-1-1-preview-1/). FWIW, .NET Core supports side-by-side installations. Installing .NET Core 1.1 won't interfere with projects using .NET Core 1.0. As @moozzyk said, use "1.0.0-preview2-final" to stick with the .NET Core 1.0 version.

Closing as this is

[2016-10-26 21:27] #207 closed

[2016-10-31 12:15] Monomachus opened #208 "dotnet watch run doesn't work and doesn't provide helpful info"
Hello,

I'm trying to run `dotnet watch run` and it did not work, even after I specified the necessary framework.

[code]

Here's the gist of project.json file - https://gist.github.com/Monomachus/313efe5f325cd11a8f1af6d3233779f4

[2016-10-31 15:57] natemcmaster commented on #208
This is a duplicate of https://github.com/aspnet/DotNetTools/issues/207. dotnet-watch 1.0.0-preview3-final requires the 1.1.0-preview1 version of .NET Core.

[2016-10-31 16:24] #208 closed

[2016-10-31 21:17] #168 closed

[2016-11-01 16:35] muratg commented on #205
Looks like this was done. Good to close?

[2016-11-01 16:36] natemcmaster commented on #205
No, it's not done yet.

[2016-11-02 09:37] brianlowe commented on #147
After trying all these permutations and still getting `No executable found matching command "dotnet-watch"` I finally realized that I was issuing the command in the wrong folder. The message is misleading.

Moving to `example/sometests` where the test project json exists and running "dotnet watch test" works as expected.

It seems strange that I can use "dotnet test sometests" to run the tests in

[2016-11-02 16:47] natemcmaster opened #212 "dotnet-watch for MSBuild does not restart process when new file is added"
**Repro:**
watch an MSBuild project that uses globs.
Add a new file that would match one of the globs.

**Expected**
dotnet-watch should restart process.

**Actual**
new file is ignored

**Remarks**
We should revisit the testing as the tests supposedly test this scenario and are passing, but this does not actually work.

[2016-11-02 16:47] natemcmaster commented on #212
cc @muratg I thought this was a simple fix, but when I tried to implement it, everything blew up. I'm not sure I'll get this in for 1.1.0 some I'm opening this to track progress.

[2016-11-02 17:09] natemcmaster commented on #147
This is an external limitation of how the .NET Core CLI I finds and launches project tools extensions such as dotnet-watch. Unfortunately, there is nothing dotnet-watch can do about this until we get something like https://github.com/NuGet/Home/issues/1605.

[2016-11-03 09:21] brianlowe commented on #147
Ah, that clears it up for me, partially.
I get that `dotnet` is on the path so can be called from anywhere.
It seems that even though 'watch' doesn't appear as a command exposed in `dotnet --help` output, dotnet happily accepts it as an argument and uses it to form a new command `dotnet-watch` regardless of whether or not the current folder has a 'project.json' with a 'tools' section referencing "

[2016-11-03 15:46] natemcmaster commented on #169
One of the unintended consequences of this design https://github.com/aspnet/DotNetTools/issues/169#issuecomment-252080498 is https://github.com/aspnet/Configuration/issues/543. Any design-time tooling that invokes 'Startup' is likely to break.

[2016-11-03 23:37] natemcmaster commented on #204
I think at this point we've ruled out this option. We're invested in making the MSBuild integration work.

[2016-11-03 23:37] #204 closed

[2016-11-04 00:54] #205 closed

[2016-11-04 01:06] natemcmaster commented on #186
At the moment, we're being very tentative about adding command line flags. We're working to port dotnet-watch to support MSBuild projects. When we get that working well, we will examine again whether it makes since to make options such your suggestion available via the options in the MSBuild file itself, as a command line flag itself, or both.

[2016-11-04 01:22] natemcmaster commented on #7
In the MSBuild world, is this even a possibility?

[2016-11-04 17:30] muratg commented on #161
@natemcmaster good to close?

[2016-11-04 17:35] natemcmaster commented on #161
Yes, basic work is done now.

[2016-11-04 17:35] #161 closed

[2016-11-04 18:06] DonSchenck opened #219 "Combining dotnet watch and a Vagrant synced_folder does not work"
Environment: Running Red Hat Enterprise Linux (RHEL) in a VM on my Windows 10 machine, using Vagrant to manage a VM in Virtual Box.

Using the Vagrant "synced_folder" option, I can share a folder between the host (Windows 10) machine and the guest (RHEL) machine.

If, after starting `dotnet watch run` on the RHEL machine, you make changes from the Windows machine (using, for example, Visual Studio

[2016-11-04 18:16] natemcmaster commented on #219
Are you using the environment variable DOTNET_USE_POLLING_FILE_WATCHER=1? https://github.com/aspnet/DotNetTools/tree/dev/src/Microsoft.DotNet.Watcher.Tools#environment-variables

[2016-11-04 18:48] DonSchenck commented on #219
OMG YOU'RE A GENIUS! THANK YOU!

Seriously; thanks.

[2016-11-04 18:51] natemcmaster commented on #219
Ah shucks, thanks :).

Question: would a command line switch have been more discoverable? e.g. did you ever do `dotnet watch --help`?

[2016-11-04 20:01] DonSchenck commented on #219
`foo --help` is pretty much how I learn everything, so yeah ... that would be great.

[2016-11-04 20:02] DonSchenck commented on #219
What if we simply add the environment variable stuff to the --help output?

[2016-11-04 20:28] natemcmaster commented on #219
You read my mind. We started doing this recently (https://github.com/aspnet/DotNetTools/pull/218).

[2016-11-04 20:58] #219 closed

[2016-11-04 23:04] jack4it opened #221 "Is it possible for 'watch' to retain the color info from Serilog's literate console sink?"
As discussed here https://github.com/serilog/serilog-sinks-literate/issues/13

Currently, all *pretty* colors from Literate Console are missing when using `watch`. If `watch` can sort of forward those colors, it would be really nice

[2016-11-06 00:48] natemcmaster commented on #221
Can you share repo steps? I couldn't reproduce using dotnet-cli 1.0.0-preview2-003121 and dotnet-watch 1.0.0-preview2-final in Command Prompt and macOS terminal.

[code]

![image](https://cloud.githubusercontent.com/assets/2696087/20034582/e878794c-a37f-11e6-9718-ffca4829b7c5.png)

[2016-11-06 21:24] dodyg opened #222 "dotnet watch run crashes if resource folder exists"
```dotnet watch run``` will crash if a folder with .resx file exists. When I remove the folder, it will work fine.

I am using 1.0.0-preview2-003131

This is the source code https://github.com/dodyg/practical-aspnetcore/tree/master/localization

[code]

[2016-11-07 16:44] natemcmaster commented on #222
Probably a duplicate of https://github.com/aspnet/DotNetTools/issues/139. Can you try the dotnet-watch 1.0.0-preview3-final? (You'll need to install [.NET Core 1.1 preview1](https://github.com/dotnet/core/blob/master/release-notes/preview-download.md) for the preview3 version to work.)

[2016-11-07 22:51] natemcmaster opened #224 "dotnet-watch restarts app but does not recompile when files are deleted"
**Repro**:

1. Create a files that uses globs to import *.cs files.
1. dotnet watch run
1. Delete a file matched by the glob

**Expected**
Dotnet-watch restarts app with deleted file no longer included in the build.

**Actual**
dotnet-watch restarts the app, but the app was not recompiled.

**Cause:**
https://github.com/Microsoft/msbuild/issues/701

[2016-11-08 13:57] dodyg commented on #222
Core 1.1 preview1 fixes it. Thanks.

[2016-11-08 14:06] #222 closed

[2016-11-08 14:39] mdschweda opened #226 "dotnet-watch glob pattern"
It would make `dotnet watch` a viable tool for task runners and custom tools if you could pass a glob pattern argument instead of using the default `Project` logic.

[2016-11-10 22:13] natemcmaster commented on #169
The work for this is done. When released, the feature will be in the following packages:

Microsoft.Extensions.SecretManager.Tools (1.0.0-msbuild1-final)
Microsoft.Extensions.Configuration.UserSecrets (≥ 1.0.1)

[2016-11-10 22:13] #169 closed

[2016-11-12 00:34] cesarbs opened #227 "Make log format consistent across tools"
E.g. when I try to use `sql-cache` or `user-secrets` with an invalid argument, the error format is different between the two:

**sql-cache**

[code]

**user-secrets**

[code]

`watch` errors have a different format too. For example:

[code]

[2016-11-12 00:58] cesarbs opened #228 "Add --version command-line option to tools that don't have it"
Currently only `user-secrets` has it.

[2016-11-14 19:17] LordMike opened #229 "userSecretsId can contain ".." and drive letters"
A quick test showed that I could trick "dotnet user-secrets" to operate outside the defined directory (in the Roaming folder).

By setting the `userSecretsId` property in the `project.json` file to f.ex.

    "userSecretsId": "..",

.. the tool now reads in the parent folder to where it normally would operate. This can be extended as necessary to go further up and into other directories, and even

[2016-11-14 19:41] natemcmaster commented on #229
This is technically a valid use of user secrets. Altering this behavior could be a breaking behavior.

Thoughts? @divega @muratg

cref the code: https://github.com/aspnet/Configuration/blob/a8b6008d3798693d03bb00d35238ce251c267ab7/src/Microsoft.Extensions.Configuration.UserSecrets/PathHelper.cs#L86-L114

[2016-11-14 19:53] Genbox commented on #229
@natemcmaster Setting the userSecretsId to "../../../../Evil.json" escapes the %AppData% folder, which does not seem to be intended behavior to me. It is in fact a security vulnerability classified as a [Directory Traversal](https://en.wikipedia.org/wiki/Directory_traversal_attack).

[2016-11-14 22:43] Eilon commented on #229
Only the app developer can set the `userSecretsId`, but then the app developer can just call `File.Open("../../whatever.json")` anyway. So, there is no security bug here that we can see.

There is, however, perhaps a bug here, where maybe there could be more rules about valid user secrets ids.

[2016-11-14 23:03] natemcmaster commented on #229
We already validate the user id against `Path.GetInvalidPathChars()`. We could add `/` and `\` to the set of invalid chars.

[2016-11-14 23:15] Eilon commented on #229
@natemcmaster that does seem reasonable. We of course never intended those to be permitted.

[2016-11-16 19:24] natemcmaster opened #230 "dotnet-watch for MSBuild fails: "InvalidOperationException: Sequence contains no matching element""
dotnet-watch 1.0.0-msbuild1-final fails for all usages with the following error:

[code]

Using dotnet-cli 1.0.0-preview3-004056
[code]

[2016-11-16 22:08] natemcmaster commented on #230
This is the result of missing the .targets files in the nupkg.

**Workaround**
Extract the *.targets files from the zip link below into *%USERPROFILE%/.nuget/packages/microsoft.dotnet.watcher.tools/1.0.0-msbuild1-final/tools/*.

[dotnet-watch-targets.zip](https://github.com/aspnet/DotNetTools/files/596030/dotnet-watch.zip). This includes the targets files from https://github.com/aspnet/DotNetTools

[2016-11-17 01:53] divega commented on #229
I wonder if using a `PhysicalFileProvider` in the right path (e.g. `Environment.GetEnvironmentVariable("APPDATA") ?? Environment.GetEnvironmentVariable("HOME");`) instead of parsing and flowing the id as an arbitrary path would lead to a more robust solution. We end up using `PhysicalFileProvider` anyway.

[2016-11-17 17:42] Eilon commented on #229
I'm also fine if we just close this bug 😄

[2016-11-17 17:55] natemcmaster commented on #230
To fix this, we have pushed an update to nuget.org. Users should upgrade to [`1.0.0-msbuild1-update1`](https://www.nuget.org/packages/Microsoft.DotNet.Watcher.Tools/1.0.0-msbuild1-update1).

[2016-11-17 17:55] #230 closed

[2016-11-17 21:33] natemcmaster commented on #227
Also, we should make usage of colors consistent.

[2016-11-17 22:01] natemcmaster commented on #166
Relevant work on CLI: https://github.com/dotnet/cli/issues/4746

[2016-11-18 17:00] natemcmaster opened #233 "`dotnet user-secrets import`"
Usage

    dotnet user-secrets import [[--id userSecretId]] [-n|--no-overwrite] [OTHER_ID]

    Merges user secrets from another user secret collection.

    Arguments:
    OTHER_ID     The user secrets ID of the collection to import into the current collection.

    Options:
     -n|--no-overwrite     User secrets from OTHER_ID do not replace existing secrets with the same key.

Scenarios:
Users

[2016-11-21 18:06] natemcmaster commented on #229
Proposed fix https://github.com/aspnet/Configuration/pull/558

[2016-11-21 19:39] natemcmaster commented on #226
We've rewritten much of dotnet-watch to support MSBuild. This adds support customize what dotnet-watch watches. See [the README](https://github.com/aspnet/DotNetTools/tree/192134cad8a9805f41b94052f9d68d17f7d3afb2/src/Microsoft.DotNet.Watcher.Tools#msbuild) for details. For example, here is a custom glob in csproj:
[code]

Is this sufficient for what you are trying to accomplish?

[2016-11-22 09:05] mdschweda commented on #226
That's great. For the time being I've created a tool called [globwatch](https://github.com/mdschweda/globwatch) that runs a custom code generation tool based on Handlebars on configuration changes. To make that work team members would need to install the .NET Core Task Runner. The solution feels a bit clumsy. If I can reproduce this setup I'm all in.

[2016-11-22 17:34] natemcmaster commented on #228
cc @muratg

tool | has --version flag
-----|----------
dotnet-sql-cache | added in #235
dotnet-watch | added in #235
dotnet-user-secrets | ✅
dotnet-ef | ✅
dotnet-aspnet-codegenerator | :x:
dotnet-razor-tooling | :x:

[2016-11-28 18:23] #229 closed

[2016-12-01 06:14] natemcmaster commented on #228
Fixed in https://github.com/aspnet/DotNetTools/pull/235

[2016-12-01 06:14] #228 closed

[2016-12-01 06:14] natemcmaster commented on #227
Fixed in #237

[2016-12-01 06:14] #227 closed

[2016-12-01 06:18] natemcmaster commented on #221
Closing this for now as we need more information to reproduce the error. We can reopen for more investigation if you can provide steps to reproduce the problem.

Thanks
~Nate

[2016-12-01 06:18] #221 closed

[2016-12-05 10:26] johnkors commented on #147
The requirement of calling `dotnet` from the specific folder where project.json recides instead of from a root folder (which is very common in build scripts) - is this in any of the docs for the CLI or the tools?

Could not find it anywhere else than inside this issue. Possibly a time saver for everyone if this feature is documented. Not very obvious behaviour imo.

[2016-12-05 10:41] brianlowe commented on #147
I don't think it's documented anywhere, and I don't suppose it will be documented any time soon. I guess from the dotnet-watch developers' perspective it's out of scope. They can't possibly predict every mistake any user will make when trying to use their tool, so they document only their expected 'correct' usage and leave it to end users to determine how their actual usage differs from what's doc

[2016-12-05 19:39] nwykes commented on #221
Isn't this https://github.com/dotnet/cli/issues/1977?

code to repro:
[code]

`dotnet watch run`

![screen shot 2016-12-05 at 12 37 52 pm](https://cloud.githubusercontent.com/assets/593993/20899437/aed0a10e-bae7-11e6-9234-3e690bfa0c5a.png)

`dotnet run`

![screen shot 2016-12-05 at 12 38 17 pm](https://cloud.githubusercontent.com/assets/593993/20899458/bcf1cbf0-bae7-11e6-8461-f75fdf15698e.png)

[2016-12-06 05:30] cormacrelf commented on #221
dotnet/cli#1977 looks like it does fix this, but apparently Serilog.Sinks.Literate isn't using ANSI escape codes to do their colours: serilog/serilog-sinks-literate#9. Not a problem with the CLI.

[2016-12-07 20:28] natemcmaster opened #242 "dotnet-user-secrets breaks when project uses implicit imports"
Repro:
[code]
dotnet-cli 1.0.0-preview3-004215
Run any `dotnet user-secrets` command

Error:
[code]

cref https://github.com/Microsoft/msbuild/issues/1392

[2016-12-07 21:52] natemcmaster commented on #242
Caused by https://github.com/Microsoft/msbuild/issues/1451

[2016-12-07 22:36] rainersigwald commented on #242
That particular error is actually caused by https://github.com/dotnet/sdk/blob/c82725bc657ad369ecd4e59bf860acf6205027b6/src/Tasks/Microsoft.NET.Build.Tasks/sdk/Sdk.targets#L28-L35. You should be able to work around it by changing the generate-temp-project-with-an-import-of-the-real-project code to ensure that the generated temp file has the same extension as the user project in https://github.com/

[2016-12-07 23:15] natemcmaster opened #244 "Determine value of MSBuildProjectExtensionsPath"
dotnet-watch and dotnet-user-secrets assume `MSBuildProjectExtensionsPath` is the default value is `obj\`, but users can change this by moving their intermediate path. We should attempt to discover its actual value. This path is required to be correct in order to find and import generated targets files.

cref https://github.com/aspnet/DotNetTools/pull/243#issuecomment-265599129

See https://github

[2016-12-08 02:32] hishamco commented on #203
@natemcmaster is this the right repo for such tool?!!

[2016-12-08 04:21] natemcmaster commented on #203
I'm not aware of any official plans to create or support such a tool.

But, I'm happy to provide pointers if you have more questions. Also, as you probably know, https://github.com/dotnet/cli is the "home" of most discussion related to CLI tools.

[2016-12-08 15:31] hishamco commented on #203
Thanks

[2016-12-08 17:59] natemcmaster commented on #242
Fixed in #243

[2016-12-08 17:59] #242 closed

[2016-12-09 20:28] Eilon commented on #203
Yeah, no plans to ship this as part of ASP.NET...

[2016-12-09 20:28] #203 closed

[2016-12-09 20:31] hishamco commented on #203
@Eilon is there a repo for AspNetCoreContrib so we can contribute an official stuff that may developers need?

[2016-12-09 20:37] natemcmaster commented on #203
@hishamco have you seen https://github.com/aspnet-contrib? This isn't run by us, but sounds like what you're looking for.

[2016-12-09 20:43] hishamco commented on #203
Thanks @natemcmaster, I already saw this repo, but I don't how can create or suggest new project or idea

[2016-12-13 18:05] #224 closed

[2016-12-13 18:05] natemcmaster commented on #224
Fixed in dotnet-cli 1.0.0-preview4-004233

[2016-12-17 00:02] #92 closed

[2016-12-17 00:02] #179 closed

[2016-12-19 19:35] arexsutton opened #246 "dotnet-watch: Allow multiple dotnet commands"
I have been loving `dotnet watch`. Thank you for all your hard work. Also, sup @natemcmaster!

So I have a use case where I would like to run both `dotnet watch test` and `dotnet watch run` in sequence. Ideally, I would be able to say something like `dotnet watch test run` and have it:

[code]

Currently, I do this:
[code]

However, this approach is a bit nasty, and it exposes one problem some of

[2016-12-21 20:29] bromanko opened #247 "[dotnet-watch] Watching multiple projects"
Both `dotnet build` and `dotnet test` support glob patterns for multiple projects. For example, if I have a `tests` folder with two projects under it I am able to run `dotnet test tests/**` and it will execute the tests for both projects. It appears that `watch` only works when executing in a working directory with a `project.json`. Are there plans for glob pattern support or an ability to watch f

[2016-12-24 22:19] mikeesouth commented on #204
@natemcmaster What do you mean by "ruled out this option"? `dotnet watch` was a great benefit of PJ, is it just being "ruled out" due to the MSBuild integration? Are there any options here?

[2016-12-26 00:51] nil4 commented on #175
For anyone still waiting for [the official solution](https://github.com/aspnet/Tooling/issues/780), [`dotnet-transform-xdt`](https://github.com/nil4/dotnet-transform-xdt#msbuild) is updated with MSBuild/csproj support and samples are available, including this use case: https://github.com/nil4/xdt-samples#remove-handlers

[2017-01-03 17:09] natemcmaster commented on #204
As we began to port dotnet-watch from project.json to MSBuild, we considered (as described above) a variant the tool that didn't attempt to parse project.json or MSBuild, but was instead configured via 'watch.json' or something else. We decided not to do this, however, in favor of building MSBuild integration into dotnet-watch. The goal of our MSBuild integration was to basically preserve the dotn

[2017-01-03 17:21] mikeesouth commented on #204
Thanks @natemcmaster, that's excellent news. I added the reference into my .csproj file and it worked perfectly. *thumbs up*

[2017-01-03 17:24] #109 closed

[2017-01-03 17:27] natemcmaster commented on #204
Awesome news @mikeesouth :) Please don't hesitate to open issues to ask questions or report bugs as we're preparing to final 1.0.0 release soon.

[2017-01-03 17:38] natemcmaster commented on #87
This issue was originally opened in the project.json era. Removing from backlog for consideration again.

Here's a relative tidbit, now that we've moved to MSBuild. Executing any command could be implemented today by a user by adding a MSBuild target in the project. The command line invocation would look like this:

    dotnet watch msbuild /t:RunMyTarget

FWIW we have a pre-release version of dot

[2017-01-03 17:44] natemcmaster commented on #246
Hey @arexsutton! Nice to see a familiar github handle :)

Creating usable and understandable command-line syntax has been the most difficult challenge of dotnet-watch. My initial reaction here is that supporting multiple dotnet commands might complicate it too much, but open to suggestions.

Also, some of this complexity may be solved when you upgrade from project.json to MSBuild. For example, you

[2017-01-03 18:11] natemcmaster commented on #247
No plans at the moment. As a prerequisite for this, we would need support for global or solution-level CLI tools (https://github.com/NuGet/Home/issues/1605 and https://github.com/dotnet/cli/issues/4427).

However, the MSBuild version of dotnet-watch is much more extensible than the project.json version. You could implement yourself as an MSBuild file itself. Example: invoke `dotnet watch msbuild /

[2017-01-03 22:17] WhichOnesPink opened #248 "project.json install"
How do install using project.json? It's not dead yet!

[2017-01-04 01:12] natemcmaster commented on #248
Add to the "tools" section of PJ. See the README.md for the preview2 release of dotnet-watch. https://github.com/aspnet/DotNetTools/blob/1.0.0-preview2/README.md

[2017-01-04 01:12] #248 closed

[2017-01-04 08:18] natemcmaster opened #249 "Improve error message when GenerateWatchList fails"
Example: when the target fails, no file is produced.

watch : Started '/usr/local/share/dnvm/environments/default/dotnet' with process id 66330
watch : Process id 66330 ran for 835ms
watch : System.IO.FileNotFoundException: Could not find file '/var/folders/wt/qgc8g0h10y356ch360468p4r0000gn/T/tmpriVNqL.tmp'.
File name: '/var/folders/wt/qgc8g0h10y356ch360468p4r0000gn/T/tmpriVNqL.tmp'
   at Interop.

[2017-01-04 08:25] natemcmaster opened #250 "dotnet watch --list"
Produce a list of files that dotnet watch would have watched.

Will be useful to debugging.

[2017-01-04 22:32] bromanko commented on #247
That seems like it would work. Unfortunately, I am not quite ready to migrate these projects to using the msbuild version of tooling. That means I'm unable to test this at the moment. If you can confirm the process works I'd be happy to submit a PR adding it to the documentation.

[2017-01-05 01:22] natemcmaster commented on #247
It works, but I think we'll hold off on adding to documentation for now.

[2017-01-07 04:38] natemcmaster commented on #7
DNX is dead. Long live DNX issues.

Or not. Closing as this as it's not relevant anymore.

[2017-01-07 04:38] #7 closed

[2017-01-07 04:40] natemcmaster commented on #93
May be fixed by the new MSBuild work. Remarking for triage so we can verify if this is truly fixed.

[2017-01-10 20:33] natemcmaster opened #251 "dotnet-inspect"
A tool to inspect detailed information about the current setup. Here is a list of information that might be useful for support engineers, our team, and devs in general.

- optimized package cache. Available? In use? Cache misses? etc.
- Show graph of dependencies
  - what is lifting/downgrading specific package version
  - show sources of package conflicts
- list available shared runtimes (peek in

[2017-01-10 20:36] natemcmaster commented on #251
cc @muratg related to the diagnostic middleware we were dreaming of yesterday. Might be possible to code share between a CLI tool and a middleware.

[2017-01-10 21:10] arexsutton commented on #246
So I changed my project to be two projects (and thus compiled DLLs), one with the core code and the second being the test code. It seems the same issue does persist, seemingly as a result of the core project being built with the `.IncrementalCache` file located in the core project's target directory, even when being built from the test project. Therefore running dotnet watch test on the test proje

[2017-01-10 21:37] natemcmaster commented on #246
You should be able to run just one dotnet-watch process on the top-level project. dotnet-watch was designed to watch a project and all of the projects it depends on.

Actually, project.json is about to be killed off. See https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/. VS2017 does not support project.json. dotnet-watch is also deprecating support for this. The 'preview4

[2017-01-12 17:35] muratg commented on #251
This sounds like a great idea to me. Would help a lot with investigations.

@davidfowl @glennc  thoughts?

[2017-01-12 23:13] natemcmaster commented on #166
Remarking for triage: as this should be trivial now that preview5 of CLI has built infrastructure for this. `dotnet user-secrets init` could easily shell out to `dotnet add package Microsoft.Extensions.Configuration.UserSecrets`

[2017-01-13 01:39] natemcmaster opened #252 "dotnet-watch --help spits out help twice"
Repro:

dotnet watch --help

[2017-01-13 21:26] natemcmaster commented on #244
Might be possible if CLI were to implement this feature: https://github.com/dotnet/cli/issues/5300. Otherwise, I'm not quite sure how we implement this correctly without opening ourselves to all the problems of using MSBuild API directly.

[2017-01-17 19:44] #250 closed

[2017-01-17 19:44] #252 closed

[2017-01-17 19:44] #249 closed

[2017-01-18 18:23] glennc commented on #251
Yeah, we've talked about a tool like this from time to time. It sounds like a fine idea :)

[2017-01-18 20:30] Advanium opened #255 "Unsupported netcoreapp1.1 framework version"
I'm new to .NET Core so I've been watching the "Introduction to ASP.NET Core 1.0" course on MVA and followed the steps to install and use .NET Core on linux.
Unfortunately, `dotnet watch` won't work with the current version of .NET Core. As I'm trying the stack on Ubuntu 16.10, there are only 2 versions of .NET Core available today so I can't downgrade to netcoreapp1.0.

Do you have any clues on h

[2017-01-18 22:39] natemcmaster commented on #255
What version do you have in project.json? "1.1.0-preview4-final" should support project.json and .NET Core 1.1.0

[2017-01-19 04:23] eferhatg commented on #255
I got the same error.
<img width="870" alt="screen shot 2017-01-19 at 07 20 55" src="https://cloud.githubusercontent.com/assets/898275/22093598/0a9d08ee-de18-11e6-9271-c0371763b33a.png">

[2017-01-19 12:06] natemcmaster commented on #255
@eferhatg you referenced "Microsoft.**AspNetCore**.Watcher.Tools". It should be "Microsoft.**DotNet**.Watcher.Tools".

[code]

[2017-01-19 21:25] Advanium commented on #255
@natemcmaster Thanks. That solved the issue. Where do I get an overview of the available versions for the watch tool if I had to update it later on?

[2017-01-19 21:26] eferhatg commented on #255
Yep, this is my fault, even the error messages are not same. I guess it's the result of sleepless coding :)

It's working now. (with 1.1.0-preview4-final)
Thanks @natemcmaster .

[2017-01-19 21:45] natemcmaster commented on #255
@Advanium as you already discovered, nuget.org is the best place to see available versions.

I'll add one more comment though: the preview4 prereleases (both 1.0.0 and 1.1.0) are the last versions to support project.json. In the not too distant future, we will publish "1.0.0" version. This will only support MSBuild projects. If you've moved to csproj, you can try those pre-release versions of thos

[2017-01-19 21:45] #255 closed

[2017-01-21 12:40] s3ned opened #257 "Does not work with .net core 1.1.0?"
Hello, I get an error message namely

The specified framework 'Microsoft.NETCore.App', version '1.0.0' was not found.
  - Check application dependencies and target a framework version installed at:
      /usr/share/dotnet/shared/Microsoft.NETCore.App
  - The following versions are installed:
      1.1.0
  - Alternatively, install the framework version '1.0.0'.

Am I to early?

[2017-01-21 12:45] s3ned commented on #257
Never mind. I solved it by changing the version number to 1.1.0

[2017-01-21 12:45] #257 closed

[2017-01-30 11:47] AndyCJ opened #258 "Package 'Microsoft.Extensions.SecretManager.Tools 1.1.0-preview4-final' uses features that are not supported by the current version of NuGet."
I have an ASP.Net Core project in VS2015 targeting the 4.6.1 .Net Framework.

When trying to update to 'Microsoft.Extensions.SecretManager.Tools 1.1.0-preview4-final' in the pre-releases channel I get an error message saying:

"Package 'Microsoft.Extensions.SecretManager.Tools 1.1.0-preview4-final' uses features that are not supported by the current version of NuGet."

I also get the following err

[2017-01-30 19:34] natemcmaster commented on #258
You probably have 3.5.0-beta2. Upgrade to the "3.5.0" RTM version. https://dist.nuget.org/visualstudio-2015-vsix/latest/NuGet.Tools.vsix (version 3.5.0.1996).

Closing. We can re-open if upgrading your tooling doesn't solve the issue.

[2017-01-30 19:34] #258 closed

[2017-02-03 01:18] AbhimanyuAryan opened #259 "dotnet watch run says the specified framework 'Microsoft.NETCore.App', version '1.0.0' was not found."
When I run `dotnet watch run` command I get following error

  - Check application dependencies and target a framework version installed at:
      /usr/local/share/dotnet/shared/Microsoft.NETCore.App
  - The following versions are installed:
      1.1.0
  - Alternatively, install the framework version '1.0.0'.

[code]

[code]

& when I changed project.json file to

[code]

& then hit `dotnet watch

[2017-02-03 02:18] natemcmaster commented on #259
Download and install .NET Core 1.0: https://www.microsoft.com/net/download/core or change to "1.1.0-preview4-final". See https://www.nuget.org/packages/Microsoft.DotNet.Watcher.Tools/ for list of available versions

[2017-02-03 02:21] natemcmaster opened #260 "dotnet-web"
Starts an HTTP, static-file server in the current working directory.

[code]

[2017-02-03 04:42] AbhimanyuAryan commented on #259
@natemcmaster I have changed to `"Microsoft.DotNet.Watcher.Tools": "1.1.0-preview4-final"` but when run `dotnet watch run` & change css file & refresh browser page. Nothing happens

Does it work only with html pages? What about css & js change or assets(images, icons) etc?

[2017-02-03 16:10] natemcmaster commented on #259
By design, dotnet watch *for project.json* won't trigger a restart of your web app when .css/.js/images etc change. Just files used by the C# compiler.

dotnet watch for MSbuild (the new thing we are working on) let's you customize which files are being watched. See https://github.com/aspnet/DotNetTools/blob/dev/src/Microsoft.DotNet.Watcher.Tools/README.md#msbuild

Re: browser doesn't show updates

[2017-02-03 16:10] #259 closed

[2017-02-14 19:51] lakartoza commented on #136
Hi, just wanted to check in. Does .csproj still not support dotnet watch? I'm running into trouble like @janpieterz above. dotnet run works fine but for the life of me i can't get dotnet watch run to go. It just died with `unexpected error`

[2017-02-14 20:14] natemcmaster commented on #136
We have a preview available. Install 1.0.0-msbuild3-final.
[code]

FYI any version labeled "preview" is a project.json-only version. We realize this is goofy, but it's temporary. When we release the 1.0.0 version in March along with VS 2017, it won't support project.json.

[2017-02-20 11:07] justdmitry opened #265 "dotnet-watch prints invalid characters in Command Prompt"
`dotnet-watch` prints unknown/non-ascii characters in log messages (red boxes on image).

![cmd_2017-02-20_13-52-32](https://cloud.githubusercontent.com/assets/3540597/23122302/bb09de44-f774-11e6-8660-a7b19f95dc9a.png)

Package used: `Microsoft.DotNet.Watcher.Tools` version `1.0.0-msbuild3-final`

Environment: `win10-x64`, SDK `1.0.0-rc4-004771`, console encoding `utf-8` (green on image)

Possibly

[2017-02-21 16:52] natemcmaster commented on #265
Can confirm. This only appears in Command Prompt, which doesn't support ANSI color codes. To workaround, use basically any other shell, like PowerShell, ConEmu, etc.

[2017-02-22 19:10] vlad0 opened #266 "No executable found matching command "dotnet-watch""
# *.csproj file
[code]

Package seems to be downloaded successfully after: dotnet restore

# project.assets.json file
[code]

.NET Command Line Tools (1.0.0-rc3-004530)

Product Information:
 Version:            1.0.0-rc3-004530
 Commit SHA-1 hash:  0de3338607

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/

[2017-02-22 19:12] natemcmaster commented on #266
https://github.com/aspnet/DotNetTools/tree/dev/src/Microsoft.DotNet.Watcher.Tools#how-to-install

[2017-02-22 19:15] vlad0 commented on #266
Thank you @natemcmaster ! Can I achieve this trough the CLI or the only option is editing the .csproj file manually?

[2017-02-22 19:15] #266 closed

[2017-02-22 19:17] natemcmaster commented on #266
I wish, but sadly not yet. It's something we've talked about building for 2.0.... cc @blackdwarf

[2017-03-03 23:52] Eilon commented on #265
Will consider this for a 1.0.1 patch of this package.

[2017-03-04 15:57] SeanHogg commented on #147
If you are experiencing this issue with the latest tooling (aka .csproj). You must modify your csproj and add:
<ItemGroup>
    <DotNetCliToolReference Include="Microsoft.DotNet.Watcher.Tools" Version="1.0.0-msbuild2-final" />
  </ItemGroup>
</Project>
This will allow you to call:

[2017-03-07 19:46] natemcmaster commented on #226
Closing this. Not trying to be mean, but I think we have settled on the design I mentioned above. Custom watch globs can be expressed in the MSBuild project being watched.

Feel free to continue discussion. And if you have issues using expressing custom watch globs in csproj, let us know.

[2017-03-07 19:46] #226 closed

[2017-03-07 19:52] natemcmaster commented on #147
We released the "1.0.0" version of dotnet-watch (finally). As @SeanHogg  correctly points out, this can be installed using the `DotNetCliToolReference` syntax in csproj.

I'll also add that another common mistake is to run `dotnet watch` from the wrong directory. You must change directories `cd` into the folder containing your csproj file.

We've also updated the project README to include simpler

[2017-03-07 19:52] #147 closed

[2017-03-07 19:57] natemcmaster commented on #87
Closing as the 1.0.0 version of dotnet-watch is has been released.  Running any command is available by implementing a custom target.

For example,
[code]
[code]

[2017-03-07 19:57] #87 closed

[2017-03-07 20:01] natemcmaster commented on #114
This is now "supported". The "config file" is the MSBuild project. You can configure custom targets and custom watch items using MSbuild.

You can configure custom watch items using the `Watch` item group. See the README for more details.

[code]

See https://github.com/aspnet/DotNetTools/issues/87 for example of how to configure custom commands.

[2017-03-07 20:03] natemcmaster commented on #175
Closing this as MSBuild tooling has been released an the publish-IIS tooling has been completely rewritten. If you are still experiencing issues with publishing for IIS with the .NET Core 1.0.0 tooling, you can open issues on https://github.com/aspnet/websdk.

[2017-03-07 20:03] #175 closed

[2017-03-07 20:10] tmds commented on #87
@natemcmaster how do you specify: when files matching these patternA change run commandA, and when files matching patternB change run commandB?

[2017-03-07 20:13] natemcmaster commented on #87
@tmds dotnet-watch 1.0.0 doesn't support running conditional logic based on which file has changed. Can you open a new issue for that?

[2017-03-07 20:14] natemcmaster commented on #52
Remarking for triage. This should be trivial to implement now.

[2017-03-07 20:40] tmds commented on #87
Can you open a new issue for that?

Perhaps we can re-open https://github.com/aspnet/DotNetTools/issues/114?

[2017-03-07 20:41] natemcmaster commented on #87
New issue please. #114 doesn't cover conditionally reacting to file changes.

[2017-03-08 18:33] muratg commented on #93
@kichalla could you take another look to see if this is still an issue.

[2017-03-08 18:37] muratg commented on #166
Depends on https://github.com/dotnet/cli/issues/5300

[2017-03-08 18:40] muratg commented on #212
The impact is not huge, because once you edit another existing file (to use the new file contents) build is started. Backlogging for now.

[2017-03-08 18:42] muratg commented on #233
Closing this as we haven't heard customers asking for this.

[2017-03-08 18:42] #233 closed

[2017-03-08 18:44] muratg commented on #244
Depends on dotnet/cli#5300.

[2017-03-08 18:49] muratg commented on #246
Assigning to @natemcmaster for investigating possible workarounds to this.

[2017-03-08 18:53] muratg commented on #247
@bromanko You should be able to move to csproj based tooling since it RTM'd yesterday.

[2017-03-08 18:56] muratg commented on #260
We'll look into this when we global tools.

[2017-03-08 19:47] bromanko commented on #247
That's my plan. I'll close this out.

[2017-03-08 19:47] #247 closed

[2017-03-10 17:59] natemcmaster commented on #52
Proposed fix in @269. Sorry it took us a year to get to this one.

[2017-03-11 00:12] natemcmaster commented on #251
@muratg https://github.com/dotnet/cli/issues/5961#issuecomment-285806941

[2017-03-12 03:56] ChuckkNorris opened #270 "Does not work with dotnet 1.1.1"
Are there plans to support this feature for ASP.NET Core 1.1.1 projects built in VS 2017?

[2017-03-12 13:08] blackie1019 commented on #147
Hi @natemcmaster,

Thanks for your contribute! But the official site should update with your release. I sent the pull request for it. Just want to others don't occur same problem.

Cheers!

[2017-03-13 03:15] natemcmaster commented on #270
Can you be more specific about what doesn't work? There are multiple packages in this GitHub repo.

[2017-03-13 15:19] ChuckkNorris commented on #270
Sorry for the vague message - I was referring to the DotNetTools watcher. The ability to run `dotnet watch run`

[2017-03-13 17:19] natemcmaster commented on #270
Please use `1.0.0`. The 1.1.0-preview4-final version should not be used. It was a build to support project.json tools, but is not longer supported. We'll be unlisting it from NuGet so it won't appear in search results.

See https://github.com/aspnet/DotNetTools#how-to-install for instructions on how to install.

[2017-03-13 17:19] #270 closed

[2017-03-13 18:20] ChuckkNorris commented on #270
Thanks for removing that from NuGet.
I tried installing `1.0.0` via nuget and received the same error.

![Error](http://image.prntscr.com/image/0ed48dd88cfb4afeb271b26b4b2c5be8.png)

Are we only able to install this via updating the csproj file?

[2017-03-13 18:55] natemcmaster commented on #270
You must edit the csproj file directly. This is something NuGet didn't implement in VS 2017. Please use https://github.com/NuGet/Home/issues/4190 for feedback on this.

[2017-03-13 18:58] ChuckkNorris commented on #270
Thanks for your help, @natemcmaster

[2017-03-13 19:59] #265 closed

[2017-03-13 20:29] #52 closed

[2017-03-14 18:38] Eilon commented on #265
@natemcmaster is this bug meant for the patch or for dev (2.0.0-preview1)? For dev I see you merged the change in - that's good. But then this bug should move to the correct milestone, and I guess we need a new bug opened for 1.0.1?

[2017-03-14 18:47] natemcmaster commented on #265
@Eilon I'm honestly confused about whether we have 1.0.1 planned or not. Feel free to move milestones/create duplicates as necessary to satisfy bookkeeping procedures.

[2017-03-14 19:10] natemcmaster opened #271 "Fix console color output in Command Prompt"
Back-port #265 to 1.0.1
cc @Eilon

[2017-03-14 22:16] natemcmaster opened #274 "Create dotnet-watch samples"
Show how to do custom dotnet-watch setup's in a sample.

 - watching multiple projects
 - running custom targets with dotnet watch
 - customizing the list of files to be watched

[2017-03-14 22:17] natemcmaster commented on #246
@arexsutton we recently released the 1.0.0 version of dotnet-watch which means we have dropped support for project.json. For 1.0, the 1.0 command-line syntax does not allow multiple commands. I think it is unlikely we will add this in the future.

That said, MSbuild gives you the flexibility to program your own commands. For example, it is possible to create an msbuild file that will allow you to

[2017-03-14 22:17] #246 closed

[2017-03-15 16:29] #274 closed

[2017-03-18 20:28] danroth27 opened #277 "Rename UserSecrets tool to UserConfig"
The User Secrets tool is useful for more than just secrets. It's nice for any configuration data that is user specific and shouldn't be shared via source control. Consider renaming it accordingly.

[2017-03-20 16:58] natemcmaster commented on #277
I'm generally against renaming RTMed packages. NuGet doesn't support renames or redirects, which means renaming a package ID breaks upgrade scenarios.

[2017-03-20 21:10] mastoj opened #278 "dotnet watch run with F# and suave fails to re-bind to port"
I'm trying out fable suave scaffold, https://github.com/fable-compiler/fable-suave-scaffold, which if everything works as expected has automatic reload of client and server code. The client part works as expected but when the server try to reload the server application it fails with a "Address already in use".

### Repro steps

1. Clone repo https://github.com/fable-compiler/fable-suave-scaffold
2

[2017-03-20 23:39] natemcmaster commented on #278
Can you update dotnet-watch to 1.0.0 and tell me if it still reproduces? It looks like you're still using 1.0.0-msbuild2-final which was an early preview that had bugs.

https://github.com/fable-compiler/fable-suave-scaffold/blob/master/src/Server/Server.fsproj#L27

[2017-03-21 08:12] mastoj commented on #278
Thank you @natemcmaster, it seems to work so I'm closing this.

[2017-03-21 08:12] #278 closed

[2017-03-22 20:49] natemcmaster opened #281 "Update package TFM for 2.0"
The design for DotNetCliToolReference packages is still unclear. Not sure if we should target netcoreapp1.0 or netcoreapp2.0. At the moment, packages target netcoreapp1.0 even though the tool runs on netcoreapp2.0.

Changing the package to anything except netcoreapp1.0 causes dotnet-restore to fail. See https://github.com/NuGet/Home/issues/4396

[2017-03-27 19:26] snerks commented on #265
Issue appears to exist in Nightly Build for Windows 7 (SP1) 64-bit.

**Steps to reproduce:**
Follow steps provided in the blog post written by @shanselman, to create a solution, containing  a Class Library and a Unit Test library:
 [https://www.hanselman.com/blog/CommandLineUsingDotnetWatchTestForContinuousTestingWithNETCore10AndXUnitnet.aspx](https://www.hanselman.com/blog/CommandLineUsingDotnetW

[2017-03-27 19:30] natemcmaster commented on #265
@snerks what is your version of Microsoft.DotNet.Watcher.Tools? (look for DotNetCliToolReference or `dotnet watch --version`)

[2017-03-27 19:33] snerks commented on #265
`dotnet watch --version`
`1.0.0-rtm-10308`.

Do I need to take steps to update this to nightly version?

[2017-03-27 19:37] natemcmaster commented on #265
Your steps may have updated dotnet-CLI, but you're still using dotnet-watch 1.0.0. To use nightly,

1. add a nuget.config file to our nightly feed. See the NuGet.config file in this repo for example
2. Change the version in csproj:
[code]
3. `dotnet restore`
4. `dotnet watch --version` to ensure it was installed.

See https://dotnet.myget.org/feed/aspnetcore-ci-dev/package/nuget/Microsoft.DotNet.W

[2017-03-27 19:47] snerks commented on #265
Problem with `dotnet restore` now...

D:\DotNetCore.Nightly\dotnet-dev-win-x64.latest\testexample\mytests>dotnet resto
re

  Restoring packages for D:\DotNetCore.Nightly\dotnet-dev-win-x64.latest\testexa
mple\mytests\mytests.csproj...
  Restoring packages for D:\DotNetCore.Nightly\dotnet-dev-win-x64.latest\testexa
mple\mylibrary\mylibrary.csproj...
  Restoring packages for D:\DotNetCore.Nightly\do

[2017-03-27 19:51] natemcmaster commented on #265
@snerks this error looks like a NuGet bug. https://github.com/NuGet/Home is the right place for this. I'd recommend using dotnet-CLI 1.0.0 instead if you're simply trying to use a new version of dotnet-watch. The latest 1.2.0-* version of Microsoft.DotNet.Watcher.Tools doesn't need dotnet-CLI 2.0.0-preview1. Combining nightlies of dotnet CLI _and_ NuGet _and_ dotnet-watch is going to be unstable.

[2017-03-27 22:46] snerks commented on #265
@natemcmaster - I've made progress on this.

To workaround the NuGet issue above, I downloaded the Nightly `Microsoft.DotNet.Watcher.Tools` NuGet package to disk from:
https://dotnet.myget.org/feed/aspnetcore-ci-dev/package/nuget/Microsoft.DotNet.Watcher.Tools/1.2.0-preview1-24137

I then added a Nuget Package source that points to my on-disk Nuget packages folder.

Finally, I added a reference to

[2017-03-29 01:39] ShaomingCode opened #283 "dotnet watch test block in waiting...."
dotnet watch test
watch : Started
Build started, please wait...
Build completed.

Test run for D:\code\SMCore\SMCore.XUnitTest\bin\Debug\netcoreapp1.1\SMCore.XUni          tTest.dll(.NETCoreApp,Version=v1.1)
Microsoft (R) 测试执行命令行工具版本 15.0.0.0
版权所有 (C) Microsoft Corporation。保留所有权利。

正在启动测试执行，请稍候...
[xUnit.net 00:00:00.4858050]   Discovering: SMCore.XUnitTest
[xUnit.net 00:00:00.5807001]   Discovere